@import './common/reset';
@import './common/global';
@import './common/z_index';
@import './common/util';
@import './common/font';
@import './common/adPosition';

@import './views/index';
@import './views/type';
@import './views/videoPage';
@import './views/user';

@import './components/header';
@import './components/menu';
@import './components/backBar';
@import './components/star_chest';
@import './components/lprt';
@import './components/actor';
@import './components/pop_user';
@import './components/pop_message_collection';
@import './components/fullscreenAD';
@import './components/announce';
@import './components/waitingAllLayout';

@import './overwrite/hooper';


#poker {}

#poker_list {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: calc(66px + env(safe-area-inset-bottom));
  background-color: #242424;

  #poker_sections {
    position: relative;
    display: flex;
    min-width: 100vw;
    height: 100%;
  }

  .poker_section {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    min-width: 100vw;
    width: 100%;
    background-color: #242424;
    z-index: -1;

    &.on_left {
      opacity: 1;
      z-index: 1;
      transform: translateX(-100%);
    }

    &.on_mid {
      opacity: 1;
      z-index: 2;
    }
    &.on_right {
      opacity: 1;
      z-index: 1;
      transform: translateX(100%);
    }
  }
}