.hooper {
  padding: 10px 0;
}

.hooper-track {
  align-items: center;
}

.hooper-slide {
  height: unset !important;
  &.is-current {
    .hooper-item {
      width: calc(100% - 20px);
      &::after { padding-bottom: 55%; }
    }
  }

  .hooper-item {
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-image: url(~@/assets/images/index_slider_loading.png);
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    &::after {
      content: "";
      display: block;
      padding-bottom: 45%;
    }
  }
}