<template>  
  <div id="wrapper"
    @touchstart="touchstart"
    @touchmove="touchmove"
    @touchend="touchend">
    <nav>
      <div 
        class="nav_items" 
        :class="{'active': navIndex === currentIndex}"
        ref="navItems" 
        v-for="(nav, navIndex) in navs" 
        :key="navIndex"
        @click="goToSection(navIndex)"
      >{{ nav }}</div>

      <div id="nav_bar" ref="navBar" :style="{width: navWidth + 'px'}"></div>
    </nav>

    <div id="wrapper_list">
      <div id="wrapper_sections" ref="wrapperSections">
        <div id="collection_bscroll_section" class="wrapper_section">
          <div id="collection_iscroll_inside">
            <div id="collection_info">
              <div id="collection_info__about">
                <div class="collection_tooltip red" @click="openPop('collection')">关於收藏号</div>
                <div class="icon information" @click="openPop('collection')"><div class="icon-information"></div></div>
              </div>
              <div id="collection_info__detail">
                <div class="my_collection_num">
                  <div class="num gold">012345</div>
                  <div class="text" @click="openMessagePop">我的收藏号</div>
                </div>
                <div class="line"></div>
                <div class="my_collecion_movies">
                  <div class="num red">
                    <span>80</span> 
                    <span>/</span>
                    <span>100</span>
                  </div>
                  <div class="text">已收藏片数</div>
                </div>
              </div>
              <div id="collection_info__insert">
                <label for="insert_collection_num">
                  <div class="icon"><div class="icon-import"></div></div>
                  <input 
                    type="number" 
                    id="insert_collection_num" 
                    v-model="recommemdCollectionNumber"
                    @keypress="insertOtherNumber"
                    @click="openRecommendNumber"
                    placeholder="汇入其他收藏号">
                  <div 
                    class="collection_submit"
                    @click.prevent="cancelInsertNumber">
                    取消
                  </div>
                </label>
              </div>
            </div>

            <div class="collection_ad">
              <div class="fake_ad"></div>
            </div>

            <div v-if="!showRecommendNumber" id="collection_list">
              <div id="lprt_list">
                <router-link :to="{ name: 'videoPage', params: { videoId: 123 }}" 
                  class="lprt_item"
                  v-for="(collection, collectonIndex) in collectionItems"
                  :key="collectonIndex">
                  <div class="lprt_item__img" v-background-image="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwQWJDn-Y92Trsf7D8DxWQKB8jhQM9i-vAmVcG_6QrOsBnKrnn&s'"></div>
                  <div class="lprt_item__info">
                    <div class="lprt_item__title line-clamp">最後一戰5 劇情解析，強行做了一點微小的解析，謝謝大家</div>
                    <div class="lprt_item__tags">
                      <div class="icon"><div class="icon-tag"></div></div>自拍, 无码
                    </div>
                    <div class="lprt_item__actions">
                      <div class="later icon" @click.prevent="setLater"><div class="icon-later"></div></div>
                      <div class="collection icon" @click.prevent="setCollection"><div class="icon-heart"></div></div>
                    </div>
                  </div>
                </router-link>
              </div>
              
            </div>

            <div v-if="showRecommendNumber" id="collection_recommend">
              推荐收藏号 111777 和 999999
              <br />
              丰富你的收藏！
            </div>
          </div>
        </div>

        
        <div id="later_iscroll_section" class="wrapper_section">
          <div id="later_iscroll_inside">
            <div id="collection_info">
              <div id="collection_info__about">
                <div class="later_num">
                  <div class="icon"><div class="icon-later"></div></div>
                  <span>3部</span>
                </div>
                <div class="collection_tooltip gold" @click="openPop('later')">关於稍後观看</div>
                <div class="icon information" @click="openPop('later')"><div class="icon-information"></div></div>
              </div>
            </div>

            <div class="later_ad">
              <div class="fake_ad"></div>
            </div>

            <div id="collection_list">
              <div id="lprt_list">
                <router-link :to="{ name: 'videoPage', params: { videoId: 123 }}" 
                  class="lprt_item"
                  v-for="(later, collectonIndex) in laterItems"
                  :key="collectonIndex">
                  <div class="lprt_item__img" v-background-image="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwQWJDn-Y92Trsf7D8DxWQKB8jhQM9i-vAmVcG_6QrOsBnKrnn&s'"></div>
                  <div class="lprt_item__info">
                    <div class="lprt_item__title line-clamp">最後一戰5 劇情解析，強行做了一點微小的解析，謝謝大家</div>
                    <div class="lprt_item__tags">
                      <div class="icon"><div class="icon-tag"></div></div>自拍, 无码
                    </div>
                    <div class="lprt_item__actions">
                      <div class="later icon" @click.prevent="setLater"><div class="icon-later"></div></div>
                      <div class="collection icon" @click.prevent="setCollection"><div class="icon-heart"></div></div>
                    </div>
                  </div>
                </router-link>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <pop-collection 
      :isShowPop="showPop" 
      :showPopType="showPopType" 
      @closePop="closePop"></pop-collection>

    <pop-message-collection
      :isShowPop="showMessagePop"
      :message="message"
      @closeMessagePop="closeMessagePop"></pop-message-collection>
  </div>
</template>

<script>
import slideTouchViews from '../mixins/slideTouchViews.js'

import BScroll from "@better-scroll/core";
import Pullup from "@better-scroll/pull-up";
BScroll.use(Pullup);

export default {
  name: "Collection",
  components: {
    PopCollection: () => ({
      component: import(/* webpackChunkName: "AsyncComponent" */ '../components/PopCollection'),
      delay: 100,
      timeout: 1000
    }),
    PopMessageCollection: () => ({
      component: import(/* webpackChunkName: "AsyncComponent" */ '../components/PopMessageCollection'),
      delay: 100,
      timeout: 1000
    })
  },
  mixins: [slideTouchViews],
  data() {
    return {
      message: '收藏余额不足，删掉 5 笔后再汇入',
      showMessagePop: false,
      showPopType: null,
      showPop: false,
      navs: ['收藏', '稍后观看'],
      navWidth: null,
      collectionItems: new Array(5),
      laterItems: new Array(5),
      recommemdCollectionNumber: null,
      showRecommendNumber: false,

      collectionBscroll: null, 
      laterBscroll: null,
      isPullUpLoad: false,

      bscrollOptions: {
        scrollY: true, 
        scrollX: false,
        mouseWheel: true,
        click: true,
        taps: true,
        pullUpLoad: true
      }
    };
  },
  computed: {},
  watch: {
    'recommemdCollectionNumber'() {
      if (this.recommemdCollectionNumber === '12345') {
        this.openMessagePop()
      }
    }
  },
  mounted() {
    this.navWidth = this.$refs.navItems[0].clientWidth;

    // 設定 iscroll
    this.collectionBscroll = new BScroll('#collection_bscroll_section', this.bscrollOptions)
    this.laterBscroll = new BScroll('#later_iscroll_section', this.bscrollOptions)

    this.collectionBscroll.on("pullingUp", this.pullingUpHandler);
    this.laterBscroll.on("pullingUp", this.pullingUpHandler);
  },
  methods: {
    insertOtherNumber(e) {
      if(e.which === 13){
        console.log('e.which', e.which);
      }
    },

    setLater() {
      console.log('setLater')
    },

    setCollection() {
      console.log('setCollection');
    },

    openRecommendNumber() {
      this.showRecommendNumber = true
    },

    cancelInsertNumber(e) {
      this.recommemdCollectionNumber = null
      this.showRecommendNumber = false
    },

    openPop(type) {
      this.showPop = true
      this.showPopType = type
      this.enabledSlideTouchViews = false
    },

    closePop(value) {
      this.showPop = value 
      this.enabledSlideTouchViews = true
    },

    openMessagePop() {
      this.showMessagePop = true
      this.enabledSlideTouchViews = false
    },

    closeMessagePop() {
      this.showMessagePop = false
      this.enabledSlideTouchViews = true
    },

    async pullingUpHandler() {
      this.isPullUpLoad = true;

      await this.requestData();

      switch(this.currentIndex) {
        case 0:
          this.collectionBscroll.finishPullUp();
          this.collectionBscroll.refresh();
          break;
        case 1:
          this.laterBscroll.finishPullUp();
          this.laterBscroll.refresh();
          break;
      }
      
      this.isPullUpLoad = false;
    },

    async requestData() {
      try {
        const newData = await this.ajaxGet(/* url */);

        switch(this.currentIndex) {
          case 0:
            this.collectionItems = this.collectionItems.concat(newData);
            break;
          case 1:
            this.laterItems = this.laterItems.concat(newData);
            break;
        }
        
      } catch (err) {
        // handle err
        console.log(err);
      }
    },

    ajaxGet(/* url */) {
      return new Promise(resolve => {
        setTimeout(() => {
          resolve(new Array(20));
        }, 100);
      });
    }
  },
  beforeDestroy() {
    this.scroll = null
  },

  activated() {
    // get query if type equal later
    let {
      type
    } = this.$route.query;
    
    if (type === 'collection') this.goToSection(0)
    if (type === 'later') this.goToSection(1)
  },
};
</script>
