<template>
  <Poker :navs="navs">
    <poker-navigation slot="hooper-addons"></poker-navigation>
    <div id="index_iscroll_section" class="poker_section">
      <div id="index_iscroll_inside">
        <!-- <hooper 
          :itemsToShow="1.10" 
          :infiniteScroll="true"
          :centerMode="true"
          :progress="true" 
          :autoPlay="true" 
          :playSpeed="3000"
          @disableViewScroll="disableViewScroll">
          <slide v-for="(slide, slideIndex) in slideImgs" :key="slideIndex">
            <a href="https://www.google.com">
              <div class="hooper-item" v-background-image="slide.url"></div>
            </a>
          </slide>
        </hooper> -->

        <div class="index_section_header">
          <div class="mark"></div>
          <div class="title">精選女優</div>
          <div class="more">更多<div class="icon"><span class="icon-arrow_left"></span></div></div>
        </div>

        <div class="gold_line"></div>

        <div id="recommend_actor">
          <div class="actor" 
            v-for="(a, aIndex) in actors"
            :key="aIndex">
            <div class="actor__img" v-background-image="'https://cdn.clipart.email/4ca387088155baeff7fbb7f820751484_guinness-annonces-the-top-50-video-game-characters_353-400.jpeg'"></div>
            <div class="actor__name">桥本有菜</div>
          </div>
        </div>

        <div id="recommend_actor_shake">
          <div id="recommend_actor_shake_btn">
            <div class="icon"><span class="icon-loop2"></span></div>換一換
          </div>
          <div id="recommend_actor_shake_line"></div>
        </div>

        <div class="video_list">
          <VideoItem :videoItem="videoItem" v-for="(videoItem, videoIndexTest) in videoItems1" :key="videoIndexTest"/>
        </div>

        <!-- 本週排行 -->
        <div class="index_section_header">
          <div class="mark"></div>
          <div class="title">本週排行</div>
          <div class="more"></div>
        </div>

        <div id="rank_wrapper">
          <div id="rank_iscroll_inside">
            <div id="rank_list">
              <div class="rank_item"
                v-for="(cover, coverIndex) in covers" :key="coverIndex"
                v-background-image="'https://i.pinimg.com/originals/ec/f6/d4/ecf6d4386cd90cc15be4346aa1250486.jpg'">
                  <div :class="`rank_mark top${coverIndex + 1}`">{{coverIndex + 1 < 4 ? `TOP${coverIndex + 1}` : null}}</div>
                </div>
            </div>
          </div>
        </div>

        <!-- 熱門影片 -->
        <div id="hot_wrapper">
          <div class="index_section_header">
            <div class="mark"></div>
            <div class="title">熱門影片</div>
            <div class="more">更多<div class="icon"><span class="icon-arrow_left"></span></div></div>
          </div>

          <div class="normal_video_list">
            <div 
              v-for="(cover, coverIndex) in noramlCovers"
              :key="coverIndex"
              class="normal_video_item">
              <div class="normal_video_item__img" v-background-image="cover.url"></div>
              <div class="normal_video_item__name">尼爾：自動人形 - PS4版封面公布</div>
            </div>
          </div>
        </div>

        <!-- 最新上架 -->
        <div id="newest_wrapper">
          <div class="index_section_header">
            <div class="mark"></div>
            <div class="title">最新上架</div>
            <div class="more">更多<div class="icon"><span class="icon-arrow_left"></span></div></div>
          </div>

          <div class="normal_video_list">
            <div 
              v-for="(cover, coverIndex) in noramlCovers"
              :key="coverIndex"
              class="normal_video_item">
              <div class="normal_video_item__img" v-background-image="'https://pcucgame.com/wp-content/uploads/2016/11/gamersky_01origin_01_20161121431BE0.jpg'"></div>
              <div class="normal_video_item__name">尼爾：自動人形 - PS4版封面公布</div>
            </div>
          </div>
        </div>

        <div class="index_ad"></div>

        <!-- 六字專題 -->
        <div id="theme_wrapper">
          <div class="gold_line"></div>
          <div id="theme_list">
            <div class="theme_item"
              v-for="(theme, themeIndex) in themes"
              :key="themeIndex"
            >
              <div class="theme_item__img" v-background-image="'https://p2.bahamut.com.tw/B/2KU/99/7389b805bf1b6a38bffcc237ec17eqb5.JPG'"></div>
              <div class="theme_item__title">六字專題標題</div>
            </div>
          </div>
          <div class="gold_line"></div>
        </div>
        
        <!-- 其他專題 -->
        <div class="other_wrapper">
          <div class="index_section_header">
            <div class="mark"></div>
            <div class="title">漂亮姊姊舔我唧唧濕答答</div>
            <div class="more">更多<div class="icon"><span class="icon-arrow_left"></span></div></div>
          </div>

          <div class="normal_video_list">
            <div 
              v-for="(cover, coverIndex) in sectionCovers"
              :key="coverIndex"
              class="normal_video_item">
              <div class="normal_video_item__img" v-background-image="'https://pcucgame.com/wp-content/uploads/2016/11/gamersky_01origin_01_20161121431BE0.jpg'"></div>
              <div class="normal_video_item__name">尼爾：自動人形 - PS4版封面公布</div>
            </div>
          </div>
        </div>
        
        <div class="other_wrapper">
          <div class="index_section_header">
            <div class="mark"></div>
            <div class="title">愛威奶多Ｐ性愛必修班，開課啦！</div>
            <div class="more">更多<div class="icon"><span class="icon-arrow_left"></span></div></div>
          </div>

          <div class="normal_video_list">
            <div 
              v-for="(cover, coverIndex) in sectionCovers"
              :key="coverIndex"
              class="normal_video_item">
              <div class="normal_video_item__img" v-background-image="'https://pcucgame.com/wp-content/uploads/2016/11/gamersky_01origin_01_20161121431BE0.jpg'"></div>
              <div class="normal_video_item__name">尼爾：自動人形 - PS4版封面公布</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div id="limit_iscroll_section" class="poker_section">
      <div id="limit_iscroll_inside">
        <div class="video_list">
          <div class="index_ad"></div>

          <router-link :to="{ name: 'videoPage', params: { videoId: 123 }}" 
            class="video_item"
            v-for="(videoItem, videoIndex) in videoItems1"
            :key="videoIndex">
            <div class="video_item__status" :class="limitType(videoIndex)">
              <img 
                v-if="videoIndex % 2 === 0"
                class="limit_time_bg" 
                src="../assets/images/limit-hour-tag@2x.png" 
                srcset="../assets/images/limit-hour-tag.png 1x, ../assets/images/limit-hour-tag@2x.png 2x, ../assets/images/limit-hour-tag@3x.png 3x" 
                alt="limit_time_bg">
              <img 
                v-else
                class="limit_time_bg" 
                src="../assets/images/limit-day-tag@2x.png" 
                srcset="../assets/images/limit-day-tag.png 1x, ../assets/images/limit-day-tag@2x.png 2x, ../assets/images/limit-day-tag@3x.png 3x" 
                alt="limit_time_bg">
              <div class="limit_time_text">
                <!-- <CountDown date="December 31, 2020"/> -->
              </div>
            </div>
            <div class="video_item__img" v-background-image="'https://i.ebayimg.com/images/g/3VYAAOSwxEtanxwB/s-l1600.jpg'"></div>
            <div class="video_item__title">Details about The Last Guardian PS4 Replacement Box Art Case Insert Cover Print Only</div>
            <div class="video_item__date">2020.02.01</div>
          </router-link>
        </div>
      </div>
    </div>
    
    <div id="newest_iscroll_section" class="poker_section">
      <div id="newest_iscroll_inside">
        <div class="index_ad"></div>
        <div class="video_list">
          <router-link :to="{ name: 'videoPage', params: { videoId: 123 }}" 
            class="video_item"
            v-for="(videoItem, videoIndex) in videoItems2"
            :key="videoIndex">
            <div class="video_item__status">
              <div v-if="videoIndex % 2 === 0" class="time_text new">NEW</div>
              <div v-else class="time_text current_month">本月发行</div>
            </div> 
            <div class="video_item__img" v-background-image="'https://i.ebayimg.com/images/g/aIwAAOSw6VRbBBWl/s-l500.jpg'"></div>
            <div class="video_item__title">Details about The Last Guardian PS4 Replacement Box Art Case Insert Cover Print Only</div>
            <div class="video_item__actions">
              <div class="later icon" @click.prevent="setLater(videoItem)">
                <div v-if="videoItem.laterChecked" class="icon-later_active">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </div>
                <div v-else class="icon-later"></div>
              </div>
              <div class="collection icon" @click.prevent="setCollection(videoItem)">
                <div v-if="videoItem.collectionChecked" class="icon-heart_active"></div>
                <div v-else class="icon-heart"></div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>

    <div id="reward_iscroll_section" class="poker_section">
      <div id="reward_iscroll_inside">
        <div class="index_ad"></div>
        <div class="video_list">
          <router-link :to="{ name: 'videoPage', params: { videoId: 123 }}" 
            class="video_item"
            v-for="(videoItem, videoIndex) in videoItems3"
            :key="videoIndex">
            <div class="video_item__status">
              <div v-if="videoIndex % 2 === 0" class="time_text new">NEW</div>
              <div v-else class="time_text current_month">本月发行</div>
            </div> 
            <div class="video_item__img" v-background-image="'https://i.ebayimg.com/images/g/tbIAAOSwYOxeHv4E/s-l500.jpg'"></div>
            <div class="video_item__title">Details about The Last Guardian PS4 Replacement Box Art Case Insert Cover Print Only</div>
            <div class="video_item__actions">
              <div class="later icon" @click.prevent="setLater(videoItem)">
                <div v-if="videoItem.laterChecked" class="icon-later_active">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </div>
                <div v-else class="icon-later"></div>
              </div>
              <div class="collection icon" @click.prevent="setCollection(videoItem)">
                <div v-if="videoItem.collectionChecked" class="icon-heart_active"></div>
                <div v-else class="icon-heart"></div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>

    <div id="second_iscroll_section" class="poker_section">
      <div id="second_iscroll_inside">
        <div class="index_ad"></div>
        <div class="video_list">
          <router-link :to="{ name: 'videoPage', params: { videoId: 123 }}" 
            class="video_item"
            v-for="(videoItem, videoIndex) in videoItems4"
            :key="videoIndex">
            <div class="video_item__status">
              <div v-if="videoIndex % 2 === 0" class="time_text new">NEW</div>
              <div v-else class="time_text current_month">本月发行</div>
            </div> 
            <div class="video_item__img" v-background-image="'https://i.ebayimg.com/images/g/Lt8AAOSwgeZeHv0c/s-l500.png'"></div>
            <div class="video_item__title">Details about The Last Guardian PS4 Replacement Box Art Case Insert Cover Print Only</div>
            <div class="video_item__actions">
              <div class="later icon" @click.prevent="setLater(videoItem)">
                <div v-if="videoItem.laterChecked" class="icon-later_active">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </div>
                <div v-else class="icon-later"></div>
              </div>
              <div class="collection icon" @click.prevent="setCollection(videoItem)">
                <div v-if="videoItem.collectionChecked" class="icon-heart_active"></div>
                <div v-else class="icon-heart"></div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </Poker>
  
</template>

<script>
import {
  Poker,
  Navigation as PokerNavigation
} from '../mixins/Poker.js'

import { Hooper, Slide } from '../components/HooperCustomCopy.js';
import 'hooper/dist/hooper.css';

import CountDown from '../components/CountDown'

import VideoItem from '../components/VideoItem'

import BScroll from '@better-scroll/core'
import Pullup from "@better-scroll/pull-up";
BScroll.use(Pullup);

let arr = []
for (let i = 1; i <= 12; i++) {
  arr.push({index: i, laterChecked: false, collectionChecked: false})
}

let noramlCovers = []

for (let j = 1; j <= 3; j++) {
  noramlCovers.push({index: j, url: 'https://pcucgame.com/wp-content/uploads/2016/11/gamersky_01origin_01_20161121431BE0.jpg'})
}

let slideImgs = []

for (let z = 1; z <= 5; z++) {
  slideImgs.push({index: z, url: 'https://dvdcover.com/wp-content/uploads/2019/07/2019-07-03_5d1ce4fc82bc6_Metal-Gear-Solid-V-The-Phantom-Pain-950x555.jpg'})
}

export default {
  name: "Index",
  components: {
    Hooper, 
    Slide,
    CountDown,
    VideoItem,
    Poker,
    PokerNavigation
  },
  data() {
    return {
      slideImgs: slideImgs,
      themes: new Array(3),
      sectionCovers: new Array(6),
      noramlCovers: noramlCovers,
      covers: new Array(10),
      actors: new Array(10),

      navs: ['精選', '限時', '最新', '女优赏', '秒拍'],

      videoItems1: arr,
      videoItems2: arr,
      videoItems3: arr,
      videoItems4: arr,

      isPullUpLoad: false,
      bscrollLimit: null,
      bscrollNewest: null,
      bscrollReward: null,
      bscrollSecond: null,
      bscrollOptions: {
        scrollY: true, 
        scrollX: false,
        mouseWheel: true,
        click: true,
        taps: true,
        pullUpLoad: true
      }
    };
  },
  computed: {
    swiper() {
      return this.$refs.indexSwiper.swiper;
    },
  },
  mounted() {
    // 設定 bscroll
    this.bscrollLimit = new BScroll('#limit_iscroll_section', this.bscrollOptions);
    this.bscrollNewest = new BScroll('#newest_iscroll_section', this.bscrollOptions);
    this.bscrollReward = new BScroll('#reward_iscroll_section', this.bscrollOptions);
    this.bscrollSecond = new BScroll('#second_iscroll_section', this.bscrollOptions);

    this.bscrollLimit.on("pullingUp", this.pullingUpHandler);
    this.bscrollNewest.on("pullingUp", this.pullingUpHandler);
    this.bscrollReward.on("pullingUp", this.pullingUpHandler);
    this.bscrollSecond.on("pullingUp", this.pullingUpHandler);

    const indexIscrollSection = new BScroll('#index_iscroll_section', {
      scrollY: true, 
      scrollX: false,
      mouseWheel: true,
      click: true,
      taps: true
    })

    const rankWrapper = new BScroll('#rank_wrapper', {
      scrollX: true,
      scrollY: true,
      mouseWheel: true,
      click: true,
      taps: true
    })

    rankWrapper.on('beforeScrollStart', (e) => {
      this.enabledSlideTouchViews = false
    })

    rankWrapper.on('scrollStart', function() {
      // https://segmentfault.com/q/1010000002929516
      if ((this.directionY === 1 && this.y === this.maxScrollY) || (this.directionY === -1 && this.y === 0)) {
        // indexIscrollSection && indexIscrollSection.enable();
      } else {
        // indexIscrollSection && indexIscrollSection.disable();
      }
    });

    rankWrapper.on('scrollEnd', (e) => {
      this.enabledSlideTouchViews = true
    })
  },
  methods: {
    positionStyle(index) {
      console.log('123')
      if (index === this.currentIndex + 1) {
        return 'on_right'
      }

      if (index === this.currentIndex) {
        return 'on_center'
      }

      if (index === this.currentIndex - 1) {
        return 'on_left'
      }

      return ''
    },

    limitType(index) {
      return index % 2 ? 'limit_day': 'limit_hour'
    },
    disableViewScroll(value) {
      this.enabledSlideTouchViews = value
    },
    async pullingUpHandler() {
      this.isPullUpLoad = true;

      await this.requestData();

      switch(this.currentIndex) {
        case 1:
          this.bscrollLimit.finishPullUp();
          this.bscrollLimit.refresh();
          break;
        case 2:
          this.bscrollNewest.finishPullUp();
          this.bscrollNewest.refresh();
          break;
        case 3:
          this.bscrollReward.finishPullUp();
          this.bscrollReward.refresh();
          break;
        case 4:
          this.bscrollSecond.finishPullUp();
          this.bscrollSecond.refresh();
          break;
      }
      
      this.isPullUpLoad = false;
    },

    async requestData() {
      try {
        const newData = await this.ajaxGet(/* url */);

        switch(this.currentIndex) {
          case 1:
            this.videoItems1 = this.videoItems1.concat(newData);
            break;
          case 2:
            this.videoItems2 = this.videoItems2.concat(newData);
            break;
          case 3:
            this.videoItems3 = this.videoItems3.concat(newData);
            break;
          case 4:
            this.videoItems4 = this.videoItems4.concat(newData);
            break;
        }
        
      } catch (err) {
        // handle err
        console.log(err);
      }
    },

    ajaxGet(/* url */) {
      return new Promise(resolve => {
        setTimeout(() => {
          let arr = []
          for (let i = 1; i <= 20; i++) {
            arr.push({index: i, laterChecked: false, collectionChecked: false})
          }
          resolve(arr);
        }, 100);
      });
    },

    setLater(item) {
      item.laterChecked = !item.laterChecked
    },

    setCollection(item) {
      item.collectionChecked = !item.collectionChecked
    },

    countDown(deadline) {
      const currentTime = new Date().getTime();
      const remainingTime = deadline - currentTime;

      function pad(value) {
        return ('0' + Math.floor(value)).slice(-2);
      }

      const seconds = pad((remainingTime / 1000) % 60);
      const minutes = pad((remainingTime / (1000 * 60)) % 60);
      const hours = pad((remainingTime / (1000 * 60 * 60)) % 24);

      if (remainingTime >= 1000) {
        requestAnimationFrame(this.countDown);
      }

      return `${hours}:${minutes}:${seconds}`
    }    
  }
};
</script>
