<template>
  <div id="user_page" class="invite">
    <BackBar :title="title" />
    
    <div id="user_invite">
      <div class="logo">
        <img src="../assets/images/logo@2x.png" srcset="../assets/images/logo.png 1x, ../assets/images/logo@2x.png 2x, ../assets/images/logo@3x.png 3x">
      </div>
      <div class="title">即刻开放下载<br />百万视频任你看</div>

      <div class="gold_line"></div>
      <div class="user_invite_qrcode"></div>
      <div class="gold_line"></div>

      <div class="desc">扫描二维码下载APP</div>
      <div class="url">
        <div class="url__title">永久地址</div>
        <a href="parrot03.live" class="url__address">parrot03.live</a>
      </div>
    </div>
    
  </div>
</template>

<script>
import BackBar from '@/components/BackBar';

export default {
  name: 'Invite',
  components: {
    BackBar,
  },
  data() {
    return {
      title: '邀请好友',
    }
  }
}
</script>