<template>
  <div id="user_page" class="login">
    <BackBar :title="title" />

    <div id="user">
      <div id="user__bg" :style="{backgroundImage: 'url(' + userBg + ')'}"></div>
      <div id="user__info">
        <div id="user__img" :style="{backgroundImage: 'url(' + userImg + ')'}"></div>
        <div id="user__id">
          <div class="title">会员号：</div>
          <div class="number">012345</div>
        </div>
      </div>
    </div>

    <div id="user_action">
      <div class="user_action_item">
        <div class="title">手机号</div>
        <label for="iphoneNumber">
          <input id="iphoneNumber" type="number" placeholder="请输入手机号" v-model="phone">
        </label>
      </div>

      <div class="user_action_item password">
        <div class="title">密码</div>
        <label for="password">
          <input id="password" :type="passwordType" placeholder="请输入至少六位数密码" v-model="password">
        </label>
        <div class="icon" @click="togglePasswordType">
          <template v-if="passwordType === 'text'">
            <div class="icon-eyes-open">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
            </div>
          </template>
          <template v-else><div class="icon-eyes-close"></div></template>
        </div>
      </div>
    </div>

    <div id="user_submit" :class="{'active': sumbitBtnEnable}" @click="doLogin">登录</div>

    <div id="user_other">
      <router-link :to="{name: 'register'}">手机注册</router-link>
      <div>|</div>
      <router-link :to="{name: 'forgetPassword'}">忘记密码</router-link>
    </div>

    <div id="user_desc">
      <div id="user_desc_title">注册会员</div>
      <div id="user_desc_list">
        <div>1. 收藏永久不遗失</div>
        <div>2. 爱威奶片片无限观看</div>
      </div>
    </div>

    <PopUser :isShowUserPop="isShowUserPop" :showUserPopType="showUserPopType" @closePop="closePop" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import userBg from '@/assets/images/Mask@2x.png'
import userImg from '@/assets/images/profile_user@2x.png'

import BackBar from '@/components/BackBar';
import PopUser from '@/components/PopUser'

export default {
  name: 'Login',
  components: {
    BackBar,
    PopUser
  },
  data() {
    return {
      userBg,
      userImg,
      title: '登录会员',
      phone: '',
      password: '',
      passwordType: 'password',
      isSubmiting: true,
      isShowUserPop: null,
      showUserPopType: null,
    }
  },
  computed: {
    validationPhone: {
      get() {
        return this.phone ? true : false
      },
      set(value) { return value }
    },
    validationPassword: {
      get() {
        return /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/.test(this.password) ? true : false
      },
      set(value) { return value }
    },
    sumbitBtnEnable() {
      return this.validationPhone && this.validationPassword
    },
  },
  mounted() {},
  methods: {
    ...mapActions([
      'login'
    ]),
    togglePasswordType() {
      this.passwordType === 'password' 
      ? this.passwordType = 'text'
      : this.passwordType = 'password'
    },
    doLogin() {
      if (this.isSubmiting && this.sumbitBtnEnable) {
        console.log('送出登入')
        this.isSubmiting = false

        if (
          this.phone === '111' && 
          this.password === '111yyy'
        ) {
          // if ajax success
          console.log('success')
          this.isSubmiting = true
          this.showUserPopType = 'loginSuccess'

          this.login()
        } else {
          // if ajax fail
          console.log('fail')
          this.isSubmiting = true
          this.showUserPopType = 'loginFail'
        }

        this.isShowUserPop = true
      }
    },
    closePop(value) {
      this.isShowUserPop = null
      this.showUserPopType = null
    }
  }

}
</script>