<template>
  <div id="search_wrapper">
    <div id="search_wrapper__header">
      <div class="back" @click="goBack"><div class="icon"><span class="icon-arrow_left"></span></div></div>
      <label for="search_star">
        <div class="icon search"><span class="icon-search"></span></div>
        <input id="search_star" 
          type="text"
          placeholder="输入片名关键字或番号"
          v-model="searchValue"
        >
        <div class="icon close" @click="clearSearchValue">
          <span class="icon-close_circle">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </span>
        </div>
      </label>
    </div>

    <div id="search_wrapper__content">
      <div id="search_wrapper__new">
        <div class="search_result_title">最新搜尋</div>
        <div class="search_result_tags">
          <div class="search_result_tags_item" v-for="(tag, tagIndex) in searchItems">
            XXss
          </div>
        </div>
      </div>

      <div class="search_divider_line"></div>

      <div id="search_wrapper__hot">
        <div class="search_result_title">熱門搜尋</div>
        <div class="search_result_tags">
          <div class="search_result_tags_item" v-for="(tag, tagIndex) in searchItems">
            XXss
          </div>
        </div>
      </div>  
    </div>

    
  </div>
</template>

<script>
export default {
  name: 'Search',
  data() {
    return {
      searchItems: new Array(16),
      searchValue: ''
    }
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
    clearSearchValue() {
      this.searchValue = ''
    }
  }
}
</script>