<template>
  <div class="home">
    <swipeTabViews>
      <div class="poker_section">1</div>
      <div class="poker_section">2</div>
      <div class="poker_section">3</div>
      <div class="poker_section">4</div>
      <div class="poker_section">5</div>
    </swipeTabViews>
  </div>
</template>

<script>
// @ is an alias to /src
import swipeTabViews from '../mixins/Poker.js'

export default {
  name: 'Test',
  components: {
    swipeTabViews
  }
}
</script>
