<template>
  <div id="wrapper" class="type"
    @touchstart="touchstart"
    @touchmove="touchmove"
    @touchend="touchend"
  >
    <nav>
      <div 
        class="nav_items" 
        :class="{'active': navIndex === currentIndex}"
        ref="navItems" 
        v-for="(nav, navIndex) in navs" 
        :key="navIndex"
        @click="goToSection(navIndex)"
      >{{ nav }}</div>

      <div id="nav_bar" ref="navBar" :style="{width: navWidth + 'px'}"></div>
    </nav>

    <div id="wrapper_list">
      <div id="wrapper_sections" ref="wrapperSections">
        <div id="type_bscroll_section" class="wrapper_section type">
          <div id="type_iscroll_inside">
            <div id="type_list">
              <router-link 
                :to="{ name: 'typeMovieResult', params: { movieId: 123 }}"
                class="type_items" 
                v-for="(type, typeIndex) in types"
                :key="typeIndex">
                <div class="type_items__img" v-background-image="'https://p2.bahamut.com.tw/B/2KU/07/5a0a624d35fbdeafa37cbdfe1c17ftf5.PNG'"></div>
                <div class="type_items__title"> 劍為君舞 </div>
              </router-link>
            </div>

            <div class="line" style="margin: 30px -20px;"></div>

            <div id="type_tags_title">精選標籤</div>

            <div id="type_tags">
              <div class="type_tag_items" v-for="(tag, tagIndex) in types" :key="tagIndex">
                XXss
              </div>
            </div>
          </div>
        </div>

        <div id="star_bscroll_section" class="wrapper_section">
          <div id="star_iscroll_inside">
            <div class="star_chest">
              <div class="star_chest__wrapper">
                <div class="star_chest__list">
                  <div class="star_chest__items" 
                    :class="{active: chestIndex === 0}"
                    v-for="(chest, chestIndex) in chestList" 
                    :key="chestIndex" 
                    @click="gotoChest(chest)">{{ chest.toUpperCase() }}</div>
                </div>
                <div class="star_chest__more" @click="showMoreChestItems">
                  <div class="icon" :class="{active: toggleShowMoreItems}">
                    <span class="icon-arrow_down"></span>
                  </div>
                </div>
              </div>
            </div>

            <div id="star_list">
              <div id="actors">
                <router-link 
                  :to="{ name: 'typeStarResult', params: { starId: 123 }}"
                  class="actor_info" 
                  v-for="(actor, actorIndex) in actors" 
                  :key="actorIndex">
                  <div class="actor_info__img" v-background-image="'https://p2.bahamut.com.tw/B/2KU/58/ff4f18bbd0cf219775a3f5946116t3e5.JPG'"></div>
                  <div class="actor_info__title"> 桥本有菜桥桥本有菜桥
                     </div>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import slideTouchViews from '../mixins/slideTouchViews.js'
import BScroll from '@better-scroll/core'
import Pullup from "@better-scroll/pull-up";
BScroll.use(Pullup);

export default {
  name: "Type",
  mixins: [slideTouchViews],
  data() {
    return {
      toggleShowMoreItems: false,
      navs: ['影片类型', 'AV女优'],
      chestList: ['全部', 'a', 'b', 'c'],
      navWidth: null,
      actors: new Array(32),
      types: new Array(12),

      starBscroll: null, 
      isPullUpLoad: false,
    };
  },
  computed: {},
  mounted() {
    // 設定 iscroll
    this.starBscroll = new BScroll('#star_bscroll_section', {
      scrollY: true, 
      scrollX: false,
      mouseWheel: true,
      click: true,
      taps: true,
      pullUpLoad: true
    })

    this.starBscroll.on("pullingUp", this.pullingUpHandler);

    new BScroll('#type_bscroll_section', {
      scrollY: true, 
      scrollX: false,
      mouseWheel: true,
      click: true,
      taps: true
    })

    this.navWidth = this.$refs.navItems[0].clientWidth;
  },
  methods: {
    showMoreChestItems() {
      this.toggleShowMoreItems = !this.toggleShowMoreItems
      
      this.toggleShowMoreItems
      ? this.chestList = this.chestList.concat(['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o'])
      : this.chestList = ['全部', 'a', 'b', 'c']
    },

    async pullingUpHandler() {
      this.isPullUpLoad = true;

      await this.requestData();

      this.starBscroll.finishPullUp();
      this.starBscroll.refresh();
      
      this.isPullUpLoad = false;
    },

    async requestData() {
      try {
        const newData = await this.ajaxGet(/* url */);

        this.actors = this.actors.concat(newData);
        
      } catch (err) {
        // handle err
        console.log(err);
      }
    },

    ajaxGet(/* url */) {
      return new Promise(resolve => {
        setTimeout(() => {
          resolve(new Array(20));
        }, 100);
      });
    }
  }
};
</script>
