<template>
  <div id="type_star_result_wrapper">
    <BackBar :title="title" />

    <div id="result_body">
      <div id="result_star_detail">
        <div class="pic" v-background-image="'http://images.china.cn/attachement/jpg/site1000/20120916/001fd04cebbc11bf99721f.jpg'"></div>
        <div class="info">
          <div class="info_top">
            <div class="birth">生日：1992.05.04</div>
          </div>
          <div class="info_bottom">
            <div class="measurements">三圍：88.59.85</div>
            <div class="cup">罩杯：G</div>
          </div>
        </div>
      </div>
      <div id="result_list">
        <router-link :to="{ name: 'videoPage', params: { videoId: 123 }}" class="result_item"  v-for="(item, resultIndex) in resultItems" :key="resultIndex">
          <div v-if="resultIndex % 2 === 0" class="result_item__status new">NEW</div>
          <div v-else class="result_item__status current_month">本月发行</div>
          <div class="result_item__img" v-background-image="'https://pbs.twimg.com/media/EBi-S69UYAIZu1z.jpg'"></div>
          <div class="result_item__info">
            <div class="result_item__title line-clamp">
              情慾最大覺醒！直至性欲消盡的怒濤不停息直至性欲消盡的怒濤不停息
            </div>
            <div class="result_item__tags">
              <div class="icon"><div class="icon-tag"></div></div>自拍, 无码
            </div>
            <div class="result_item__actions">
              <div class="later icon" @click.prevent="setLater"><div class="icon-later"></div></div>
              <div class="collection icon" @click.prevent="setCollection"><div class="icon-heart"></div></div>
            </div>
          </div>   
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import BackBar from '../components/BackBar'

export default {
  name: 'typeStarResult',
  components: {
    BackBar
  },
  data() {
    return {
      resultItems: new Array(37),
      title: '波多野結衣',
    }
  },
  mounted() {
    
  },
  methods: {
    setLater() {
      console.log('setLater')
    },

    setCollection() {
      console.log('setCollection');
    },
  }
}
</script>