<template>
<div id="user_page">  
  <div id="user">
    <div id="user__bg" :style="{backgroundImage: 'url(' + userBg + ')'}"></div>
    <div id="user__info">
      <div id="user__img" :style="{backgroundImage: 'url(' + userImg + ')'}"></div>
      <div id="user__id">
        <div class="title">会员号：</div>
        <div class="number">012345</div>
      </div>

      <img id="user__auth_img" v-if="isAuth" src="@/assets/images/isLogin@2x.png" alt="">
      <div v-else id="user__btn" @click="goLogin">注册登录</div>
    </div>
  </div>

  <div id="user_function">
    <router-link class="user_function_items" :to="{ name: 'collection', query: {type: 'collection'}}">
      <div class="icon first">
        <template v-if="isAuth"><div class="icon-heart_active"></div></template>
        <template v-else><div class="icon-heart"></div></template>
      </div>
      <div class="title">我的收藏</div>
      <div class="icon last"><div class="icon-arrow_left"></div></div>
    </router-link>
    <router-link class="user_function_items" :to="{ name: 'collection', query: {type: 'later'}}">
      <div class="icon first"><div class="icon-later"></div></div>
      <div class="title">我的稍后观看</div>
      <div class="icon last"><div class="icon-arrow_left"></div></div>
    </router-link>
    <div class="user_function_items">
      <div class="icon first"><div class="icon-feedback"></div></div>
      <div class="title">爱威奶回馈群</div>
      <div class="icon last"><div class="icon-arrow_left"></div></div>
    </div>
    <router-link class="user_function_items" :to="{ name: 'invite', query: {type: 'later'}}">
      <div class="icon first"><div class="icon-tab-share"></div></div>
      <div class="title">推广分享</div>
      <div class="icon last"><div class="icon-arrow_left"></div></div>
    </router-link>
  </div>
  
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import userBg from '@/assets/images/Mask@2x.png'
import userImg from '@/assets/images/profile_user@2x.png'

export default {
  name: 'USER',
  data() {
    return {
      userBg,
      userImg,
    }
  },
  computed: {
    ...mapGetters([
      'isAuth',
    ]),
  },
  mounted() {},
  methods: {
    goLogin() {
      this.$router.push({name: 'login'})
    }
  }
}
</script>