<template>
  <div id="video__wrapper" :class="{active: isShowActionOptions}"
    @touchstart="touchstart"
    @touchmove="touchmove"
    @touchend="touchend">
    <div id="video__player" ref="videoPlayer">
      <template v-if="isShowVideoCoverAD">
        <div id="video_cover_ad" v-background-image="'https://dvdcover.com/wp-content/uploads/2019/12/2019-12-19_5dfb4465ee850_dvd-covers-ad-astra-4k-163332-950x528.jpg'">
          <div id="video_cover_ad__close" @click="closeVideoCoverAD">关闭广告</div>
        </div>
      </template>
      <template v-else>
        <div id="video_back" @click="goBack"><div class="icon"><span class="icon-arrow_left"></span></div></div>
        <div id="video_seek" v-if="isPlayVideo && isTouching">
          <div id="video_seek_rewinder">
            <div class="icon"><div class="icon-rewinder"></div></div>
            <div class="video_seek_second">倒转{{ videoDirection === 'rewinder' ? seconds : 0 }}秒</div>
          </div>
          <div id="video_seek_forward">
            <div class="icon"><div class="icon-forward"></div></div>
            <div class="video_seek_second">快转{{ videoDirection === 'forward' ? seconds : 0 }}秒</div>
          </div>
        </div>
        <div id="play_video_cover" 
          @touchstart="videoSeekTouchStart"
          @touchmove="videoSeekTouchMove"
          @touchend="videoSeekTouchEnd">
          <div v-if="isPlayVideo" class="vjs-icon-play"></div>
        </div>
        <video ref="videoPlayer" class="video-js"></video>
      </template>
    </div>

    <div id="video__container" ref="videoContainer" :style="{top: videoPlaterHeight + 'px'}">
      <div id="video__info" :class="{active: isShowMoreTitle}">
        
        <div class="title">
          <div class="title_left" :class="{'line-clamp': !isShowMoreTitle}">
            情慾最大覺醒！直至性欲消盡的怒濤不停息的認真性交 乃木螢情慾最大覺醒！直至性欲消盡的怒濤不停息的認真性交 乃木螢情慾最大覺醒！
          </div>
          <div class="title_right" @click="toggleTitle">
            <div class="icon">
              <div class="icon-arrow_down"></div>
            </div>
          </div>
        </div>
        <div class="time">
          <span>片长：</span><span>119 分钟</span>
        </div>
        <div class="director">
          <span>导演：</span><span>Yuki Sumiat</span>
        </div>
        <div class="publisher">
          <span>发行商：</span><span>kawaiii</span>
        </div>
      </div>
      
      <div id="video__actions">
        <div id="video__actions_left">
          <div class="action_items hasBg" @click="selectHD">
            <div class="icon"><div class="icon-HD"></div></div>
            <div class="icon_text">高清</div>
          </div>
          <div class="action_items hasBg" @click="selectLine">
            <div class="icon"><div class="icon-line"></div></div>
            <div class="icon_text">线路</div>
          </div>
        </div>
        <div id="video__actions_right">
          <div class="action_items">
            <div class="icon"><div class="icon-heart"></div></div>
            <div class="icon_text">收藏</div>
          </div>

          <div class="action_items">
            <div class="icon"><div class="icon-later"></div></div>
            <div class="icon_text">稍後</div>
          </div>
          
          <div class="action_items">
            <div class="icon"><div class="icon-home"></div></div>
            <div class="icon_text">首页</div>
          </div>
        </div>
      </div> 

      <div id="video__ad">
        <hooper 
          :itemsToShow="1.10" 
          :infiniteScroll="true"
          :centerMode="true"
          :progress="true" 
          :autoPlay="false" 
          :playSpeed="3000">
          <slide v-for="(slide, slideIndex) in slideImgs" :key="slideIndex">
            <div class="hooper-item" v-background-image="slide.url"></div>
          </slide>
        </hooper>
      </div>

      <div id="video__actor">
        <div id="video__actor_title">演出女优</div>
        <div id="video__actor_display">
          <div id="actors">
            <router-link 
              :to="{ name: 'typeStarResult', params: { starId: 123 }}"
              class="actor_info" 
              v-for="(actor, actorIndex) in actors" 
              :key="actorIndex">
              <div class="actor_info__img" v-background-image="'https://p2.bahamut.com.tw/B/2KU/58/ff4f18bbd0cf219775a3f5946116t3e5.JPG'"></div>
              <div class="actor_info__title"> ＸＸＳＳ </div>
            </router-link>
          </div>
        </div>
      </div>

      <div id="video__other">
        <div id="video__other_title">你可能会喜欢</div>
        <div id="video__other_display">
          <div id="lprt_list">
            <router-link :to="{ name: 'videoPage', params: { videoId: 123 }}" 
              class="lprt_item"
              v-for="(item, collectonIndex) in collectionItems"
              :key="collectonIndex">
              <div class="lprt_item__img" v-background-image="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwQWJDn-Y92Trsf7D8DxWQKB8jhQM9i-vAmVcG_6QrOsBnKrnn&s'"></div>
              <div class="lprt_item__info">
                <div class="lprt_item__title line-clamp">最後一戰5 劇情解析，強行做了一點微小的解析，謝謝大家</div>
                <div class="lprt_item__tags">
                  <div class="icon"><div class="icon-tag"></div></div>自拍, 无码
                </div>
                <div class="lprt_item__actions">
                  <div class="later icon" @click.prevent="setLater(item)">
                    <div v-if="item.laterChecked" class="icon-later_active">
                      <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                    </div>
                    <div v-else class="icon-later"></div>
                  </div>
                  <div class="collection icon" @click.prevent="setCollection(item)">
                    <div v-if="item.collectionChecked" class="icon-heart_active"></div>
                    <div v-else class="icon-heart"></div>
                  </div>
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </div>

      <div id="video_acton_options">
        <div id="video_acton_options_bg"></div>
        <div id="video_acton_options_content">
          <template v-if="actionOptionType === 'hd'">
            <div class="video_action_options_items" v-for="(h, hIndex) in hd" :key="hIndex">{{h}}</div>  
          </template>
          <template v-if="actionOptionType === 'line'">
            <div class="video_action_options_items" v-for="(line, lineIndex) in lines" :key="lineIndex">{{line}}</div>  
          </template>
          <div id="video_action_options_close" @click="closeActionOpions">
            <div class="icon">
              <div class="icon-close"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="video_warning" :class="{active: isShowVideoWarn}">
        <div id="video_warning__content">
          <div class="title">会员限定功能</div>
          <div class="desc">成为会员就能无限看片！</div>
          <div class="btns">
            <div class="btn cancel" @click="closeVideoWarn">取消</div>
            <div class="btn login" @click="goToLogin">注册/登录</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import Videojs from 'video.js'
import throttle from 'lodash.throttle';
import { Hooper, Slide } from '../components/HooperCustomCopy.js';
import 'hooper/dist/hooper.css';

const objs = [
  {index: 0, laterChecked: false, collectionChecked: false},
  {index: 1, laterChecked: false, collectionChecked: false},
  {index: 2, laterChecked: false, collectionChecked: false},
]

let slideImgs = []
for (let z = 1; z <= 5; z++) {
  slideImgs.push({index: z, url: 'https://dvdcover.com/wp-content/uploads/2019/07/2019-07-03_5d1ce4fc82bc6_Metal-Gear-Solid-V-The-Phantom-Pain-950x555.jpg'})
}

export default {
  name: 'VideoPlayer',
  components: {
    Hooper, Slide
  },
  data() {
    return {
      slideImgs: slideImgs,
      scale: 1,
      isShowVideoCoverAD: true,

      isShowActionOptions: false,
      actionOptionType: null,

      lines: ['路线C (延迟：--)', '路线A (延迟：0.18秒)'],
      hd: ['高清', '标清'],
      actors: new Array(4),
      collectionItems: objs,
      videoStartX: null,
      videoMoveX: null,
      isTouching: false,

      videoPlaterHeight: null,

      player: null,
      isPlayVideo: true,
      isShowMoreTitle: false,
      isShowVideoWarn: false,
      videoOptions: {
        aspectRatio: '16:9',
        BigPlayButton: false,
        controls: true,
        playsinline: true,
        controlBar: {
          children: ["currentTimeDisplay", "progressControl", "durationDisplay", "fullscreenToggle"]
        },
				sources: [ { src: 'https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8', type: 'application/x-mpegURL' } ]
      },
      seconds: 0,
      videoDirection: null,
      videoCurrentTime: 0,
    }
  },
  computed: {
    ...mapGetters([
      'isAuth'
    ])
  },
  mounted() {
    this.videoPlaterHeight = this.$refs.videoPlayer.clientHeight;

    this.$refs.videoContainer.addEventListener('scroll', this.videoLoad);
  },
  methods: {
    initVideoPlayer() {
      this.player = Videojs(
        this.$refs.videoPlayer,
        this.videoOptions,
        function onPlayerReady() {
          console.log('onPlayerReady', this)
        }
      )

      // 移除 play button
      this.player.removeChild('BigPlayButton');

      const seekBar = Videojs.getComponent('SeekBar')

      seekBar.prototype.getPercent = function() {
        var t = this.player_.currentTime()
          , e = t / this.player_.duration();
        return e >= 1 ? 1 : e
      }

      seekBar.prototype.handleMouseMove = function(t) {
        this.player_.play();
        var e = this.calculateDistance(t) * this.player_.duration();
        e === this.player_.duration() && (e -= .1),
        this.player_.currentTime(e),
        this.update()
      }

      this.player.controlBar.progressControl.seekBar.on('touchstart', event => {
        this.isPlayVideo = false
      })
    },

    touchstart() {},
    touchmove(e) { 
      if (e.scale !== 1) event.preventDefault()
     },
    touchend() {},

    videoSeekTouchStart(e) {
      const touches = e.touches[0];

      this.videoStartX = touches.pageX;

      this.seconds = 0

      if (this.videoMoveX === 0 || this.videoMoveX === null) {
        if (this.isAuth) {
          this.player.paused() 
          ? (this.player.play(), this.isPlayVideo = false)
          : (this.player.pause(), this.isPlayVideo = true)
        } else {
          this.isShowVideoWarn = true
        }
      }
    },

    videoSeekTouchMove(e) {
      const touches = e.touches[0];

      this.videoMoveX = touches.pageX - this.videoStartX;

      if (this.videoMoveX === 0 || this.videoMoveX === null) return
      
      this.isTouching = true

      // 調成 20 讓快退轉不要太敏感
      if (this.videoMoveX <= 20) {
        if (this.videoDirection === 'forward') { this.videoMoveX = 0; }
        this.videoDirection = 'rewinder'
      }

      if (this.videoMoveX > 20) {
        if (this.videoDirection === 'rewinder') { this.videoMoveX = 0; }
        this.videoDirection = 'forward'
      }

      // 快退轉最多 300 秒
      this.seconds = Math.abs(Math.floor(this.videoMoveX)) >= 300 
      ? 300 
      : Math.abs(Math.floor(this.videoMoveX))
    },

    videoSeekTouchEnd(e) {
      let time = 0
      if (this.videoMoveX === 0 || this.videoMoveX === null) return

      // https://docs.videojs.com/tutorial-player-workflows.html
      this.videoCurrentTime = this.player.currentTime()

      if (this.videoDirection === 'rewinder') {
        time = this.videoCurrentTime - this.seconds
        // 扣超過變成負數會變成快轉
        if (time <= 0) { time = 0 }
      }

      if (this.videoDirection === 'forward') {
        time = this.videoCurrentTime + this.seconds
      }
      
      this.player.currentTime(time)
      
      this.videoDirection = null
      this.isTouching = false 
      this.videoMoveX = 0
      this.videoCurrentTime = 0
    },

    selectHD() {
      this.actionOptionType = 'hd'
      this.isShowActionOptions = true
    },

    selectLine() {
      this.actionOptionType = 'line'
      this.isShowActionOptions = true
    },

    closeActionOpions() {
      this.actionOptionType = null
      this.isShowActionOptions = false
    },

    closeVideoWarn() {
      this.isShowVideoWarn = false
    },

    closeVideoCoverAD() {
      this.isShowVideoCoverAD = false

      // 關廣告才會將影片播放器初始化
      this.$nextTick(() => {
        this.initVideoPlayer()
      })
    },

    videoLoad: throttle(function() {
      const w_scrollTop = this.$refs.videoContainer.scrollTop;
      const w_height = this.$refs.videoContainer.clientHeight;
      const b_height = this.$refs.videoContainer.scrollHeight;
      const v_adjust = 50

      if (b_height - v_adjust <= w_scrollTop + w_height) {
        console.log('loading... ')
        let result = []

        for (let i = 1; i < 12; i++) {
          result.push({index: 0, laterChecked: false, collectionChecked: false})
        }

        this.collectionItems = this.collectionItems.concat(result)
      } else {
        console.log('not yet')
      }
    }, 100),

    toggleTitle() {
      this.isShowMoreTitle = !this.isShowMoreTitle
    },

    setLater(obj) {
      obj.laterChecked = !obj.laterChecked
    },

    setCollection(obj) {
      obj.collectionChecked = !obj.collectionChecked
    },

    goto() {
      this.player.currentTime(100);
    },

    goBack() {
      this.$router.go(-1);
    },

    goToLogin() {
      this.$router.push({ name: 'login' })
    }
  },
  beforeDestroy() {
    this.player ? this.player.dispose() : null
    this.$refs.videoContainer.removeEventListener('scroll', this.videoLoad);
  }
}
</script>

<style lang="scss">

@import '../../node_modules/video.js/dist/video-js.min.css';

#video_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%;
  .video-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-js .vjs-slider {
  background-color: #D8D8D8;
}

.vjs-slider-bar {
  color: #FFE8AC;
}

.video-js .vjs-load-progress div,
.video-js .vjs-play-progress,
.video-js .vjs-load-progress {
  background-color: #FFE8AC;
}

.video-js .vjs-fullscreen-control .vjs-icon-placeholder, .vjs-icon-fullscreen-enter {
  font-family: 'mature';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 4em;
}

.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before, .vjs-icon-fullscreen-enter:before {
  content: '\e920';
  font-size: 12px;
  line-height: 2.5;
  
}

.video-js .vjs-control-bar {
  background: linear-gradient(180deg, rgba(0,0,0,0.00) 30%, rgba(0,0,0,0.76) 100%);
}


.video-js .vjs-current-time { display: flex; order: 1; }
.video-js .vjs-progress-control { display: flex; order: 2; }
.video-js .vjs-duration { display: flex; order: 3; }
.video-js .vjs-fullscreen-control { order: 4; }

.video-js .vjs-playing { display: none; }
.video-js .vjs-paused { display: none; }
.video-js .vjs-remaining-time { display: none; }
.video-js .vjs-mute-control { display: none; }
.video-js .vjs-volume-menu-button { display: none; }
.video-js .vjs-time-divider { display: none; }
.video-js .vjs-volume-bar { display: none; }

</style>