<template>
  <div id="announce" :class="{active: isShowAnnounce}">
    <div id="announce__bg"></div>
    <div id="announce__wrapper">
      <img id="announce__img" 
        src="../assets/images/av-logo@2x.png" 
        srcset="../assets/images/av-logo.png 1x, ../assets/images/av-logo@2x.png 2x, ../assets/images/av-logo@3x.png 3x" 
        alt="logo"
      >
      <div id="announce__title">营运的公告</div>
      <div id="announce__line"></div>
      <div id="announce__content" ref="announceContent">
        <div id="announce__content__inside">
          <ul>
            <li>1.多媒体互动数位型录</li>
            <li>2.电子商务虚实整合</li>
            <li>3.行动媒合管理平台</li>
          </ul>
          
          <div class="qrcode"></div>
        </div>
      </div>
      <div id="announce__line" class="mb15"></div>
      <div id="announce__btn" @click="close">确认</div>
      <div id="announce__url">
        <div>最新地址</div>
        <div>i9999.live</div>
      </div>
    </div>
  </div>
</template>

<script>
import BScroll from '@better-scroll/core'
import ScrollBar from '@better-scroll/scroll-bar'
BScroll.use(ScrollBar)

export default {
  name: 'Announce',
  data() {
    return {
      isShowAnnounce: true
    }
  },
  mounted() {
    new BScroll(this.$refs.announceContent, {
      mouseWheel: true,
      scrollY: true,
      scrollbar: {
        fade: false
      }
    })
  },  
  methods: {
    close() {
      this.isShowAnnounce = false
    }
  }
}
</script>