<template>
  <div id="back_bar">
    <div class="back" @click="goBack">
      <div class="icon"><span class="icon-arrow_left"></span></div>
    </div>
    <div class="title"> {{ title }} </div>
  </div>
</template>

<script>
export default {
  name: 'BackBar',
  props: {
    title: {
      type: String,
      required: true
    }
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  }
}
</script>