<!-- Vue templates -->
<template>
  <div id="countdown-template">
    {{ days }}:{{ hours }}:{{ minutes }}:{{ seconds }}
  </div>
</template>

<!-- Vue templates -->

<script>
export default {
  name: "countDown",
  props: {
    date: {
      type: String,
    }
  },
  data() {
    return {
      dateDefault: Math.trunc(Date.parse(this.date) / 1000),
      now: Math.trunc(new Date().getTime() / 1000)
    };
  },
  mounted() {
    window.setInterval(() => {
      this.now = Math.trunc(new Date().getTime() / 1000);
    }, 1000);
  },
  computed: {
    seconds() {
      return (this.dateDefault - this.now) % 60;
    },
    minutes() {
      return Math.trunc((this.dateDefault - this.now) / 60) % 60;
    },
    hours() {
      return Math.trunc((this.dateDefault - this.now) / 60 / 60) % 24;
    },
    days() {
      return Math.trunc((this.dateDefault - this.now) / 60 / 60 / 24);
    }
  }
};
</script>
