<template>
  <div class="menu" :class="footerBarData.length === 5 ? 'isFive' : null">
    <div class="menu__items" v-for="(data, dataIdx) in footerBarData" :key="dataIdx">

      <router-link :to="{ name: data.name }" v-if="data.type === 'ad'">
      <!-- <a :href="data.name" v-if="data.type === 'ad'"> -->
        <div class="circle_ad" style="background-image: url(https://www.bomb01.com/upload/news/original/17ce7a4a128a71e09973bf9298c41a59.jpg)"></div>
        <div class="title">{{ data.title }}</div>
      <!-- </a> -->
      </router-link>
      
      <router-link 
        v-else
        :to="{ name: data.name }" 
        :exact="data.exact">
        <div class="icon"><div :class="data.icon"></div></div>
        <div class="title">{{ data.title }}</div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FooterBar',
  data() {
    return {
      footerBarData: [
        {'name': 'index', 'exact': true, 'icon': 'icon-home', 'title': '首页'},
        {'name': 'type', 'exact': true, 'icon': 'icon-menu', 'title': '分类'},
        {'name': 'collection', 'exact': false, 'icon': 'icon-heart', 'title': '收藏'},
        {
          'type': 'ad',
          'name': 'index',
          'exact': false, 
          'icon': 'icon-home', 
          'title': '廣告'
        },
        {'name': 'user', 'exact': false, 'icon': 'icon-user', 'title': '会员'}
      ]
    }
  },
  methods: {
    goto(type) {
      type 
      ? this.$router.push({ path: type }) 
      : null
    }
  }
}
</script>

<style lang="scss"></style>