<template>
<div id="fullscreenAD">
  <div id="fullscreenAD__close">
    <div v-show="isShowCloseBtn" class="icon" @click="close">
      <div class="icon-close"></div>
    </div>

    <div v-show="!isShowCloseBtn" class="icon">
      {{ second }}
    </div>
  </div>
  <img :src="randCoverURL" id="fullscreenAD__img"></img>
</div>
</template>

<script>
export default {
  name: 'FullscreenAD',
  data() {
    return {
      isShowCloseBtn: false,
      second: 5
    }
  },
  mounted() {
    const s = `${this.second}e3`

    const timeID = setInterval(() => {
      if (this.second > 1) {
        this.second--
      } else {
        clearInterval(timeID)
        this.isShowCloseBtn = true
      }
      
    }, 1000)
  },
  computed: {
    randCoverURL() {
      const id = Math.floor(Math.random() * 100) + 100
      return `https://i.picsum.photos/id/${id}/414/736.webp`
    }
  },
  methods: {
    close() {
      this.$emit('closeFullscreenAD')
    }
  }
}
</script>