<template>
  <header>
    <div class="logo">
      <img src="../assets/images/logo@2x.png" srcset="../assets/images/logo.png 1x, ../assets/images/logo@2x.png 2x, ../assets/images/logo@3x.png 3x">
    </div>
    <div v-if="$route.meta.requireHeaderSearch" class="header__right" @click="goSearchPage">
      <div class="icon">
        <span class="icon-search"></span>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'HeaderBar',
  methods: {
    goSearchPage() {
      this.$router.push({ name: 'search' })
    }
  }
}
</script>