<template>
  <div id="pop" :class="{active: isShowPop === true}">
    <div id="pop__bg"></div>
    <div id="pop__wrapper">
      <div id="pop__close" @click="closePop">
        <div class="icon">
          <div class="icon-close"></div>
        </div>
      </div>
      <div id="pop__content">
        <img 
          v-if="showPopType === 'collection'"
          class="pop__content_image" src="../assets/images/about_collection@2x.png" srcset="../assets/images/about_collection.png 1x, ../assets/images/about_collection@2x.png 2x, ../assets/images/about_collection@3x.png 3x">
        <img 
          v-if="showPopType === 'later'"
          class="pop__content_image" src="../assets/images/about_later@2x.png" srcset="../assets/images/about_later.png 1x, ../assets/images/about_later@2x.png 2x, ../assets/images/about_later@3x.png 3x">

        <div 
          v-if="showPopType === 'collection'"
          class="pop__content_info">
          <div>1. 汇入自己旧有的收藏号</div>
          <div>2. 汇入别人的收藏号</div>
          <div>3. 云端收藏100部影片</div>
        </div>

        <div 
          v-if="showPopType === 'later'"
          class="pop__content_info">
          稍後观看的片片是暂时储存在手<br />机端的，若删除或更新APP，暂<br />存的纪录可能会消失喔！
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'POP',
  props: {
    isShowPop: {
      type: Boolean,
      default: false
    },
    showPopType: {
      type: String,
      default: null
    }
  },
  computed: {},
  methods: {
    closePop() {
      this.$emit('closePop', false)
    }
  }
}
</script>