<template>
  <div id="pop_message_collection" :class="{active: isShowPop === true}">
    <div id="pop_message_collection__bg"></div>
    <div id="pop_message_collection__wrapper">
      <div id="pop_message_collection__content">{{ message }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PopMessageCollection',
  props: {
    isShowPop: {
      type: Boolean,
      default: false
    },
    message: {
      type: String,
      default: null
    }
  },
  watch: {
    isShowPop(){
      if (this.isShowPop) {
        setTimeout(() => {
          this.$emit('closeMessagePop')
        }, 3e3)
      }
    }
  },
  mounted() {}
}
</script>