<template>
  <div id="pop_user" :class="{active: isShowUserPop === true}">
    <div id="pop_user__bg"></div>
    <div id="pop_user__wrapper">
      <template v-if="showUserPopType === 'loginSuccess'">
        <div id="pop_user__title">恭喜！登录成功</div>
        <div id="pop_user__desc">即将导向至会员页</div>
      </template>

      <template v-if="showUserPopType === 'loginFail'">
        <div id="pop_user__title">Oops！登录失敗</div>
        <div id="pop_user__desc">请重新登录</div>
      </template>

      <template v-if="showUserPopType === 'registerSuccess'">
        <div id="pop_user__title">恭喜！注册完成</div>
        <div id="pop_user__desc">即将导向至会员页</div>
      </template>

      <template v-if="showUserPopType === 'registerFail'">
        <div id="pop_user__title">Oops！注册失敗</div>
        <div id="pop_user__desc">请重新注册</div>
      </template>

      <template v-if="showUserPopType === 'forgetPasswordSuccess'">
        <div id="pop_user__title">恭喜！密码重设完成</div>
        <div id="pop_user__desc">即将导向至会员页</div>
      </template>

      <template v-if="showUserPopType === 'forgetPasswordFail'">
        <div id="pop_user__title">Oops！密码重设失败</div>
        <div id="pop_user__desc">请重新设定密码</div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PopUser',
  props: {
    isShowUserPop: {
      type: Boolean,
      default: false
    },
    showUserPopType: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      timeId: null
    }
  },
  watch: {
    isShowUserPop(){
      this.isShowPopUp()
    }
  },
  mounted() {
    this.isShowPopUp()
  },
  activated() {
    this.isShowPopUp()
  },

  deactivated() {
    if (this.timeId) clearTimeout(this.timeId)
  },
  
  beforeDestroy() {
    if (this.timeId) clearTimeout(this.timeId)
  },
  methods: {
    isShowPopUp() {
      if (this.isShowUserPop) {
        this.timeId = setTimeout(() => {
          this.$emit('closePop')

          if (
            this.showUserPopType && 
            this.showUserPopType.toLowerCase().indexOf('success') > -1
          ) {
            this.$router.push({name: 'user'})
          }
        }, 2e3)
      }
    }
  }
}
</script>