<template functional>
  <router-link 
    class="video_item"
    :to="{ name: 'videoPage', params: { videoId: 123 }}">

    <div class="video_item__status">
      <div v-if="props.videoItem % 2 === 0" class="time_text new">NEW</div>
      <div v-else class="time_text current_month">本月发行</div>
    </div> 

    <div class="video_item__img" v-background-image="'https://i.ebayimg.com/images/g/tbIAAOSwYOxeHv4E/s-l500.jpg'"></div>

    <div class="video_item__title">Details about The Last Guardian PS4 Replacement Box Art Case Insert Cover Print Only</div>

    <div class="video_item__actions">

    <div class="later icon" @click.prevent="$options.setLater(props.videoItem)">
      <div v-if="props.videoItem.laterChecked" class="icon-later_active">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
      </div>
      <div v-else class="icon-later"></div>
    </div>

      <div class="collection icon" @click.prevent="$options.setCollection(props.videoItem)">
        <div v-if="props.videoItem.collectionChecked" class="icon-heart_active"></div>
        <div v-else class="icon-heart"></div>
      </div>

    </div>

  </router-link>
</template>

<script>
export default {
  props: {
    videoItem: {
      type: Object, 
      required: true
    }
  },
  setLater(item) {
    item.laterChecked = !item.laterChecked
  },

  setCollection(item) {
    item.collectionChecked = !item.collectionChecked
  },
}
</script>