#actors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .actor_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(25% - 10px);
    margin-bottom: 20px;
    &__img {
      position: relative;
      margin-bottom: 5px;
      width: 100%;
      border-radius: 100%;
      background-size: cover;
      background-position: center center;
      background-image: url(~@/assets/images/all_actor_loading.png);
      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
    &__title {
      overflow: hidden;
      white-space : nowrap;
      max-width: 70px;
      font-family: PingFangTC-Regular;
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}