#announce {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background: #000000;
    z-index: 1001;
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    width: 300px;
    height: 415px;
    background-image: linear-gradient(0deg, #000000 0%, #25303B 100%);
    border: 1px solid #997831;
    border-radius: 5px;
    z-index: 1002;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 96px;
  }
  &__title {
    margin-bottom: 15px;
    line-height: 30px;
    font-family: PingFangTC-Medium;
    font-size: 22px;
    color: #FFFFFF;
  }
  &__line {
    @extend %gold_line;
    &.mb10 { margin-bottom: 10px; }
    &.mb15 { margin-bottom: 15px; }
    &.mb20 { margin-bottom: 20px; }
  }
  &__content {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px 10px;
    padding-right: 30px;
    height: 240px;
    ul { 
      padding-top: 20px;
      margin-bottom: 10px;
    }
    ul li {
      list-style: none;
      font-family: PingFangTC-Regular;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 22px;
    }
    .qrcode {
      width: 200px;
      height: 200px;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    width: 145px;
    height: 40px;
    font-family: PingFangTC-Regular;
    background-image: linear-gradient(179deg, #DAB872 0%, #916812 46%, #664704 83%, #44330F 100%);
    
    border-radius: 21.08px;
    font-size: 18px;
    color: #FFFFFF;

    border: 1px solid #DAB872;
  }
  &__url {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFangTC-Regular;
    font-size: 12px;
    line-height: 15px;
    div:nth-of-type(1) {
      margin-right: 10px;
      color: #FFFFFF;
    }
    div:nth-of-type(2) {
      margin-right: 10px;
      color: #F3CB71;
    }
  }

  // overwrite betterscroll scrollbar style 
  // https://github.com/ustbhuangyi/better-scroll/issues/438
  .bscroll-indicator { 
    background-color: white !important; 
    width: 4px !important;
    border: none !important;
  }   
}