#back_bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  height: 40px;
  font-family: PingFangTC-Medium;
  background: #333333;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.40);
  font-size: 16px;
  color: #FFFFFF;
  z-index: 1;
  .back {
    .icon {
      font-size: 16px;
    }
  }
  .title {
    flex: 1;
    text-align: center;
    &:after {
      content: '';
      display: inline-block;
      width: 16px;
    }
  }
}