#fullscreenAD {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 31415926;
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: rgba(#000000, .5);
    border: 1px solid #ffffff;
    border-radius: 100%;
    .icon {
      padding-top: 1px;
      font-size: 14px;
      .icon-close { font-size: 24px; }
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}