header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  height: 50px;
  background-color: #333;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.40);
  z-index: 1;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header__right {
    margin-left: auto;
    .icon {
      width: 25px;
      height: 25px;
      font-size: 25px;
      color: #D8D8D8;
    }
  }
}
