// 左圖右文
#lprt_list {
  .lprt_item + .lprt_item {
    margin-top: 10px;
  }
  .lprt_item {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #111111;
    &::after {
      content: "";
      display: block;
      padding-bottom: 36%;
    }
    // 208:140
    &__img {
      position: relative;
      margin: 0 auto;
      width: 100%;
      min-width: 208px;
      min-height: 140px;
      background-size: cover;
      background-position: center center;
      background-image: url(~@/assets/images/list_video_loading.png);
    }
    &__info {
      display: flex;
      flex-direction: column;
      padding: 11px 15px;
    }
    &__title {
      margin-bottom: 5px;
      font-family: PingFangTC-Regular;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 20px;
    }
    &__tags {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      line-height: 20px;
      font-family: PingFangTC-Medium;
      font-size: 10px;
      color: #969696;
      .icon { 
        display: inline-block; 
        margin-right: 5px;
        font-size: 18px;
        color: #969696;
      }
    }
    &__actions {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .icon {
        width: 26px;
        height: 26px;
      }
      .icon + .icon {
        margin-left: 5px;
      }
    }
  }
}