.menu {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(56px + env(safe-area-inset-bottom));
  padding-bottom: calc(env(safe-area-inset-bottom));
  background-color: #333333;
  &.isFive {
    .menu__items {
      flex: 1 0 20%;
    }
  }
  &__items {
    flex: 1 0 25%;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-family: PingFangTC-Regular;
      font-size: 12px;
      color: #FFFFFF;

      &.active,
      &.router-link-active {
        color: #A18B59;
        .icon { color: #A18B59; }
      }

      .circle_ad {
        margin-bottom: 8px;  
        width: 22px;
        height: 22px;
        background-size: cover;
        background-position: center center;
        background-color: #000;
        border-radius: 100%;
      }
    }
    
    .icon {
      margin-bottom: 8px;  
    }
  }
}