#pop_user {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all, .3s;
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 130px;
    transform: translate(-50%, -50%);
    background: rgba(#111111, .9);
    border-radius: 10px;
  }

  &__title {
    margin-bottom: 10px;
    font-family: PingFangTC-Medium;
    font-size: 20px;
    color: #9E8B5D;
    line-height: 28px;
  }

  &__desc {
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
  }
}