#pop_message_collection {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all, .3s;
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
  }

  &__wrapper {
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    min-height: 60px;
    transform: translate(-50%, -50%);
    background: #000000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 4px;
  }

  &__content {
    font-family: PingFangTC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 22px;
  }
}