#star_list {
  padding: 20px;
  padding-top: 120px;
}

.star_chest {
  position: relative;
  width: 100%;
  height: auto;
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 20px;
    width: 100%;
    background-color: #333333;
    z-index: 1;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__items {
    flex-basis: calc(25% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    // width: 70px;
    height: 35px;
    border-radius: 17.5px;
    font-family: PingFangTC-Regular;
    background-color: #4C4C4C;
    font-size: 14px;
    color: #FFFFFF;
    &.active {
      background-color: #9E8B5D;
    }
  }

  &__more {
    text-align: center;
    .icon { 
      margin: 0 auto;
      color: #c2c2c2; 
      font-size: 22px;
      &.active {
        transform: rotate(180deg);
      }
    }
  }
}