<template>
  <div id="app">
    <!-- <template v-if="!showAllLayout">
      <div id="waitingAllLayout">
        <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        检查线路中... 
      </div>
    </template> -->

    <template>
      <!-- <template v-if="toggleFullscreenAD">
        <UpdateSWPOP />
        <FullscreenAD @closeFullscreenAD="closeFullscreenAD" />  
      </template> -->

      <template >
        <!-- <Announce v-if="proHasAD" /> -->
        <HeaderBar v-if="$route.meta.requireHeader" />
        
        <transition>
          <keep-alive v-if="$route.meta.keepAlive">
            <router-view/>
          </keep-alive>

          <router-view v-if="!$route.meta.keepAlive" />
        </transition>
        <FooterBar v-if="$route.meta.requireFooter" />
      </template>      
    </template>
  </div>

  
</template>

<script>
import Announce from './components/Announce'
import HeaderBar from './components/HeaderBar'
import FooterBar from './components/FooterBar'
import FullscreenAD from './components/FullscreenAD'
import UpdateSWPOP from './components/UpdateSWPOP'

export default {
  name: 'APP',
  components: {
    Announce,
    HeaderBar,
    FooterBar,
    FullscreenAD,
    UpdateSWPOP,
  },
  data() {
    return {
      showAllLayout: false,
      proHasAD: true,
      toggleFullscreenAD: true
    }
  },
  mounted() {
    let urlParams = new URLSearchParams(window.location.search);

    let noAD = urlParams.get('no_ad')

    if (process.env.NODE_ENV !== 'production' && noAD === 'yes') {
      this.proHasAD = false
      this.toggleFullscreenAD = false
    }

    setTimeout(() => {
      this.showAllLayout = true  
    }, 2000);
  },
  methods: {
    closeFullscreenAD() {
      this.toggleFullscreenAD = false
    }
  }
}
</script>

<style lang="scss">
@import './sass/app.scss';
</style>
