.index_ad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 110px;
  background-size: cover;
  background-position: center center;
  background-image: url(~@/assets/images/all_ad_loading.png);
}

.collection_ad,
.later_ad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(117,117,117,0.64);
}

.fake_ad {
  width: 300px;
  height: 250px;
  background-color: #6A1212;
}