@font-face {
  font-family: 'mature';
  src:  url('assets/fonts/mature.eot?rm4jmw');
  src:  url('assets/fonts/mature.eot?rm4jmw#iefix') format('embedded-opentype'),
    url('assets/fonts/mature.ttf?rm4jmw') format('truetype'),
    url('assets/fonts/mature.woff?rm4jmw') format('woff'),
    url('assets/fonts/mature.svg?rm4jmw#mature') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mature' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  // line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e91f";
}
.icon-search:before {
  content: "\e914";
}
.icon-arrow_left:before {
  content: "\e900";
}
.icon-import:before {
  content: "\e911";
}
.icon-arrow_down:before {
  content: "\e91e";
  color: #c2c2c2;
}
.icon-later_active .path1:before {
  content: "\e91a";
  color: rgb(161, 139, 89);
  opacity: 0.9;
}
.icon-later_active .path2:before {
  content: "\e91b";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icon-later_active .path3:before {
  content: "\e91c";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icon-nomoasic:before {
  content: "\e901";
  color: #a18b59;
}
.icon-user-heart:before {
  content: "\e902";
  color: #f74646;
}
.icon-information:before {
  content: "\e903";
  color: #8e8e93;
}
.icon-HD:before {
  content: "\e904";
}
.icon-line:before {
  content: "\e905";
}
.icon-share-to:before {
  content: "\e906";
}
.icon-tag:before {
  content: "\e907";
  color: #969696;
}
.icon-game:before {
  content: "\e908";
  color: #8e8e8e;
}
.icon-eyes-open .path1:before {
  content: "\e909";
  color: rgb(56, 48, 30);
}
.icon-eyes-open .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(201, 180, 130);
}
.icon-eyes-open .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(201, 180, 130);
}
.icon-eyes-open .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(201, 180, 130);
}
.icon-eyes-close:before {
  content: "\e90d";
  color: #c9b482;
}
.icon-close_button .path1:before {
  content: "\e90e";
}
.icon-close_button .path2:before {
  content: "\e90f";
  margin-left: -1em;
}
.icon-close_button .path3:before {
  content: "\e910";
  margin-left: -1em;
}
.icon-user:before {
  content: "\e912";
}
.icon-feedback:before {
  content: "\e913";
}
.icon-later:before {
  content: "\e915";
}
.icon-heart_active:before {
  content: "\e916";
  color: #b42525;
}
.icon-menu:before {
  content: "\e917";
}
.icon-home:before {
  content: "\e918";
}
.icon-heart:before {
  content: "\e919";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-tab-share:before {
  content: "\e91d";
}
.icon-icon-video-zoomin:before {
  content: "\e920";
  color: #fff;
}
.icon-rewinder:before {
  content: "\e922";
  color: #fff;
}
.icon-forward:before {
  content: "\e921";
  color: #fff;
}