*,
:after,
:before,
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  touch-action: none;
}

body {
  overflow: hidden;
  max-height: 100vh;
  user-select: none;
  -webkit-user-select: none;
  background-color: #333;
  // -webkit-text-size-adjust: 100%;
  // -webkit-tap-highlight-color: transparent;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line {
  height: 1px;
  background-color: #757575;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}