.line-clamp {
  height: 2.6em;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
}

@supports (-webkit-line-clamp: 2) {
  .line-clamp {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.6em;
    height: auto;
  }
  .line-clamp:after {
    display: none;
  }
}
