
%gold_line {
  width: 100%;
  height: 1.1px;
  background-image: linear-gradient(90deg, rgba(181,126,16,0.00) 0%, #B57E10 24%, #C49428 38%, #FDED9A 57%, #BD891C 81%, rgba(189,137,28,0.00) 100%);
}

#wrapper {
  &.type {
    background-color: #242424;
  }
}

#wrapper_list {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: calc(66px + env(safe-area-inset-bottom));
  background-color: #242424;

  #wrapper_sections {
    position: relative;
    display: flex;
    min-width: 100vw;
    height: 100%;
  }

  .wrapper_section {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    min-width: 100vw;
    width: 375px;
    background-color: #242424;
    z-index: -1;

    &.on_left {
      opacity: 1;
      z-index: 1;
      transform: translateX(-100%);
    }

    &.on_mid {
      opacity: 1;
      z-index: 2;
    }
    &.on_right {
      opacity: 1;
      z-index: 1;
      transform: translateX(100%);
    }

    #type_iscroll_inside {
      padding: 20px 20px 0 20px;
    }
  }
}

#type_star_result_wrapper,
#type_movie_result_wrapper {
  #result_body {
    overflow: auto;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: calc(66px + env(safe-area-inset-bottom));
    background-color: #242424;
  }

  #result_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
  }

  .result_item {
    position: relative;
    flex-basis: calc(50% - 5.5px);
    margin-bottom: 15px;
    background-color: #111111;
    &__status {
      position: absolute;
      top: 5px;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 24px;
      font-family: PingFangTC-Medium;
      color: #FFFFFF;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
      border-radius: 0 12px 12px 0;
      z-index: 1;
      &.new {
        font-size: 14px;
        background-color: #F74646;
      }
      &.current_month {
        font-size: 12px;
        background-color: #E0A124;
      }
    }
    &__img {
      position: relative;
      margin: 0 auto;
      margin-bottom: 10px;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-image: url(~@/assets/images/all_search_loading.png);
      &::after {
        content: "";
        display: block;
        padding-bottom: 147%;
      }
    }
    &__info {
      padding: 10px;
    }
    &__title {
      margin-bottom: 5px;
      text-align: left;
      line-height: 20px;
      font-family: PingFangTC-Medium;
      font-size: 14px;
      color: #FFFFFF;
    }
    &__tags {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      font-family: PingFangTC-Medium;
      font-size: 10px;
      color: #969696;
      .icon { 
        display: inline-block; 
        margin-right: 5px;
      }
    }
    &__actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .icon {
        width: 26px;
        height: 26px;
      }
      .icon + .icon {
        margin-left: 5px;
      }
    }
  }
}

#type_star_result_wrapper {
  #result_star_detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    height: 95px;
    background-color: #333;
    .pic {
      margin-right: 25px;
      width: 56px;
      height: 56px;
      background-size: cover;
      background-position: center center;
      border-radius: 100%;
    }
    .info {
      font-family: PingFangTC-Regular;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 26px;
      .info_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cup { margin-left: 30px; }
      }
    }
  }
}

#collection_info {
  padding: 15px 20px 20px 20px;
  background-color: #111111;
  &__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .later_num {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .icon {
        margin-right: 8px;
        color: #A18B59;
        font-size: 24px;
      }
      font-family: PingFangTC-Regular;
      font-size: 18px;
      color: #A18B59;
      line-height: 20px;
      letter-spacing: 6px;
    }
    .collection_tooltip {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      height: 20px;
      font-family: PingFangTC-Regular;
      font-size: 12px;
      color: #FFFFFF;
      border-radius: 1.8px;
      &.red { 
        width: 69px;
        background-color: #F74646; 
        &:after {
          border-color: transparent transparent transparent #f74646;
        }
      }
      &.gold { 
        width: 89px;
        background-color: #A18B59; 
        &:after {
          border-color: transparent transparent transparent #A18B59;
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -5.5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5.5px 0 5.5px 9px;
        transform: translateY(-50%);
      }
    }
    .information {
      margin-left: 14px;
      color: #8E8E93;
    }
  }
  
  &__detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 22px;
    height: 55px;
    .my_collection_num,
    .my_collecion_movies {
      line-height: 30px;
      text-align: center;
      .num {
        font-family: PingFangTC-Regular;
        font-size: 22px;
        letter-spacing: 1px;
        
        &.red { color: #F74646; }
        &.gold { color: #A18B59; }
      }
      .text {
        font-family: PingFangTC-Light;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
    .my_collecion_movies .num {
      span:nth-of-type(2) {
        padding: 0 3px;
      }
    }
    .line {
      opacity: 0.7;
      width: 1px;
      height: 100%;
      background-color: #8E8E93;
    }
  }

  &__insert {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
    label {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .icon {
        position: absolute;
        top: 50%;
        left: 20px;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
      }
    }
    input {
      padding-left: 45px;
      flex: 1;
      height: 36px;
      background-color: #333333;
      border-radius: 18px;
      font-family: PingFangTC-Regular;
      font-size: 14px;
      color: #FFFFFF;
      &::placeholder { color: #FFFFFF; }
      &:-ms-input-placeholder { color: #FFFFFF; }
      &::-ms-input-placeholder { color: #FFFFFF; }
    }

    .collection_submit {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      flex-basis: 64px;
      height: 36px;
      background: #333333;
      border: 1px solid #C9B482;
      border-radius: 18px;
      color: #C9B482;
    }
  }
}

#collection_list {
  padding: 15px 15px 0 15px;
}

#collection_recommend {
  padding: 20px 0;
  font-family: PingFangTC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 25px;
}

nav {
  overflow: auto;
  white-space: nowrap;

  position: relative;
  height: 40px;
  width: 100%;
  background-color: #333333;

  &.isFlatten {
    display: flex;
    .nav_items {
      flex: 1;
    }
  }

  &::-webkit-scrollbar { display: none; }
  .nav_items {
    display: inline-block;  
    position: relative;
    width: 100px;
    height: 100%;
    font-family: PingFangTC-Medium;
    line-height: 3;
    text-align: center;
    font-size: 13px;
    color: #FFFFFF;
    &.active {
      color: #C9B482;
    }
  }
  #nav_bar {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #C9B482;
  }
}

.video_list {
  background-color: #242424;
  .video_item + .video_item {
    margin-top: 5px;
  }
  .video_item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    background-color: #111111;
    &__status {
      .limit_time_bg {
        position: absolute;
        top: 11px;
        left: 10px;
        z-index: 1;
      }
      .limit_time_text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 24px;
        background: #E0A124;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
        border-radius: 12px;
        font-family: Helvetica;
        font-size: 18px;
        color: #FFFFFF;
        text-align: center;
        z-index: 2;
      }

      &.limit_hour {
        .limit_time_text {
          top: 35px;
          left: 8px;
          background-color: #F74646;
        }
      }

      &.limit_day {
        .limit_time_text {
          top: 18px;
          left: 8px;
          background-color: #E0A124;
        }
      }

      .time_text {
        position: absolute;
        top: 25px;
        left: 10px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 24px;
        font-family: PingFangTC-Medium;
        color: #FFFFFF;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
        border-radius: 0 12px 12px 0;
        z-index: 1;
        &.new {
          font-size: 14px; background-color: #F74646;
        }
        &.current_month {
          font-size: 12px; background-color: #E0A124;
        }
      }
    }
    // 346 * 233
    &__img {
      position: relative;
      margin: 0 auto;
      margin-bottom: 8px;
      width: 100%;
      background-image: url(~@/assets/images/list_video_loading.png);
      background-size: cover;
      background-position: center center;
      &::after {
        content: "";
        display: block;
        padding-bottom: 67.6%;
      }
    }
    &__title {
      overflow: hidden;
      text-overflow : ellipsis;
      white-space : nowrap;
      margin-bottom: 3px;
      width: 100%;
      line-height: 22px;
      font-family: PingFangTC-Medium;
      font-size: 16px;
      color: #FFFFFF;
    }
    &__date {
      line-height: 17px;
      font-family: PingFangTC-Medium;
      font-size: 12px;
      color: #BFBFBF;
    }
    &__actions {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      .icon {
        width: 26px;
        height: 26px;
      }
      .icon + .icon {
        margin-left: 5px;
      }
    }
  }
}

.index_section_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  line-height: 22px;
  padding: 0 16px;
  
  .mark {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: #c9b482 transparent transparent transparent;
  }
  .title {
    margin-left: 5px;
    font-family: PingFangTC-Medium;
    font-size: 16px;
    color: #C9B482;
  }
  .more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #959595;
    .icon { 
      margin-left: 4px; 
      font-size: 14px;
      color: #959595;
      transform: rotate(180deg);
    }
  }
}

.gold_line {
  @extend %gold_line;
}

#recommend_actor_shake {
  position: relative;
  width: 100%;
  height: 26px;
  #recommend_actor_shake_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 105px;
    height: 26px;
    background-color: #1C1C1C;
    background-clip: padding-box;
    border-radius: 12.5px;
    line-height: 18px;
    font-family: PingFangTC-Medium;
    font-size: 13px;
    color: #FFFFFF;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 107.5px;
      height: 28px;
      z-index: -1;
      border-radius: 12.5px;
      background-color: #B57E10;
      transform: translate(-50%, -50%);
    }
    .icon {
      margin-right: 4px;
      font-size: 14px;
      transform: rotate(130deg);
    }
  }

  #recommend_actor_shake_line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %gold_line;
    z-index: -1;
  }
}

#recommend_actor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  width: 100%;
  .actor {
    flex-basis: calc(20% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    &__img {
      position: relative;
      margin-bottom: 3px;
      width: 100%;
      background-image: url(~@/assets/images/all_actor_loading.png);
      background-position: center center;
      background-size: cover;
      border-radius: 100%;
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    &__name {
      line-height: 17px;
      font-family: PingFangTC-Regular;
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}

#rank_wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  #rank_iscroll_inside {
    display: inline-flex;
    white-space: nowrap; // wow!! replace width
    // width: 1440px;
  }
  #rank_list {
    padding: 0 16px;
    .rank_item + .rank_item { margin-left: 12px; }
    // 90 * 150
    .rank_item {
      overflow: hidden;
      display: inline-block;
      position: relative;
      width: 90px;
      background-image: url(~@/assets/images/index_rank_loading.png);
      background-position: center center;
      background-size: cover;
      border-radius: 5px;
      &::after {
        content: "";
        display: block;
        padding-bottom: 167%;
      }
      .rank_mark {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
        left: -25px;
        width: 80px;
        height: 15px;
        transform: rotate(-47deg);
        font-family: PingFangTC-Medium;
        font-size: 10px;
        color: #FFFFFF;
        letter-spacing: 0.44px;
        line-height: 11.48px;
        &.top1 { background-color: #F74646; }
        &.top2 { background-color: #FF6063; }
        &.top3 { background-color: #FF7474; }
      }
    }
  }
}

#hot_wrapper {
  margin-bottom: 20px;
}

#newest_wrapper {
  margin-bottom: 20px;
}

#theme_wrapper {
  margin-bottom: 20px;
}

#theme_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  .theme_item {
    position: relative;
    flex-basis: calc(33.33% - 11px);
    &__img {
      margin-bottom: 5px;
      width: 100%;
      background-image: url(~@/assets/images/index_six_words_loading.png);
      background-position: center center;
      background-size: cover;
      border-radius: 5px;
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
      font-family: PingFangTC-Regular;
      font-size: 12px;
      color: #FFFFFF;
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: 110px;
        height: 22px;
        background: rgba(0,0,0,0.40);
        z-index: -1;
      }
    }
  }
}

.other_wrapper + .other_wrapper { margin-top: 20px; }
.other_wrapper {
  .normal_video_item {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-bottom: 10px;
    }
  }
}

.normal_video_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  .normal_video_item {
    overflow : hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: calc(33.33% - 9px);
    &__img {
      position: relative;
      margin-bottom: 5px;
      width: 100%;
      background-image: url(~@/assets/images/all_normal_video_loading.png);
      background-position: center center;
      background-size: cover;
      border-radius: 5px;
      z-index: 1;
      &::after {
        content: "";
        display: block;
        padding-bottom: 165%;
      }
    }

    &__name {
      overflow: hidden;
      text-overflow : ellipsis;
      white-space : nowrap;
      width: 90%;
      line-height: 17px;
      font-family: PingFangTC-Regular;
      font-size: 12px;
      color: #FFFFFF;
    }
  }
}

.swiper-slide {
  height: 200px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  font-size: 20px;
  color: #fff;
}

#pop {
  opacity: 0;
  visibility: hidden;
  transition: all, .3s;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background: #000000;
    z-index: 10001;
  }
  &__wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    width: 270px;
    height: 270px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 10002;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #272727;
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
    .pop__content_image {}
    .pop__content_info {
      margin: auto;
    }
  }
  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    .icon {
      font-size: 30px;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 10000;
  }
}

#search_wrapper {
  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    width: 100%;
    height: 65px;
    font-family: PingFangTC-Medium;
    background: #333333;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.40);
    font-size: 16px;
    color: #FFFFFF;
    z-index: 1;
    .back {
      margin-right: 15px;
      width: 16px;
      .icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
      
    }
    label {
      flex: 1;
      position: relative;
      display: flex;
      justify-content: cneter;
      align-items: center;
      input {
        flex: 1;
        padding: 0 36px;
        height: 36px;
        background: #CCCCCC;
        border-radius: 18px;
        font-family: PingFangTC-Regular;
        font-size: 16px;
        color: #121212;
        letter-spacing: 0;
        line-height: 22px;
        &:focus {
          &::placeholder { color: #CCCCCC; }
          &:-ms-input-placeholder { color: #CCCCCC; }
          &::-ms-input-placeholder { color: #CCCCCC; }  
        }
        &::placeholder { color: #121212; }
        &:-ms-input-placeholder { color: #121212; }
        &::-ms-input-placeholder { color: #121212; }
      }
    } 
    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &.close {
        right: 15px;
      }
      &.search {
        left: 10px;
        color: #979797;
      }
    }
  }

  &__content {
    overflow: auto;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 15px 66px 15px;
    background-color: #242424;
  }

  &__new,
  &__hot {
    .search_result_title {
      margin-bottom: 20px;
      font-family: PingFangTC-Regular;
      font-size: 14px;
      color: #FFFFFF;
      text-align: left;
    }
    
    .search_result_tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &:after {
        content: '';
        flex-basis: calc(33.33% - 10px)
      }
      .search_result_tags_item {
        flex-basis: calc(33.33% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        height: 40px;
        border: 1px solid #CCCCCC;
        border-radius: 20.5px;
        font-size: 14px;
        color: #FFFFFF;
      }
    }
  }

  &__new {
    margin-bottom: 5px;
  }

  .search_divider_line {
    position: relative;
    margin: 0 -15px 20px -15px;
    height: 1px;
    background-color: rgba(117,117,117,0.64); 
  }
}