#type_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .type_items {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    &__img {
      margin: 0 auto;
      margin-bottom: 10px;
      position: relative; // 用來協助定位內層元素
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-image: url(~@/assets/images/list_actors_loading.png);
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    &__title {
      text-align: center;
      font-family: PingFangTC-Regular;
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}

#type_tags_title {
  margin-bottom: 20px;
  font-family: PingFangTC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

#type_tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .type_tag_items {
    flex-basis: calc(33.33% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 20.5px;
    font-size: 14px;
    color: #FFFFFF;
  }
}