#user_page {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: calc(66px + env(safe-area-inset-bottom));
  background-color: #242424;
  &.login, &.register, &.forgetpassword, &.invite {
    top: 0;
    #user {
      margin-bottom: 40px;
      &__bg {
        background-position: top center;  
        &::after {
          content: "";
          display: block;
          padding-bottom: 40%;
        }
      }  

      &__id { margin-bottom: 0; }
    }
  }
  
  &.invite {
    padding-bottom: 0;
    background-image: linear-gradient(0deg, #000000 0%, #25303B 100%);
  }

  #user {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &__bg {
      position: relative;
      margin: 0 auto;
      width: 100%;
      background-size: cover;
      background-position: center center;
      &::after {
        content: "";
        display: block;
        padding-bottom: 55%;
      }
    }

    &__info {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__id {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      font-family: PingFangTC-Regular;
      line-height: 22px;
      font-size: 16px;
      z-index: 1;
      .title { color: #FFFFFF; }
      .number { color: #A18B59 }
    }

    &__img {
      margin-bottom: 20px;
      width: 60px;
      height: 60px;
      background-size: cover;
      background-position: center center;
      z-index: 1;
    }

    &__auth_img {
      width: 130px;
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 40px;
      background-color: #9E8B5D;
      font-family: PingFangTC-Regular;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 22px;
      border-radius: 20px;
    }
  }

  #user_function {
    .user_function_items + .user_function_items {
      border-top: 1px solid #333333;
    }

    .user_function_items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      line-height: 22px;
      background-color: #111111;
      height: 60px;
      font-family: PingFangTC-Regular;
      font-size: 16px;
      color: #FFFFFF;
      .title {
        margin-right: auto;
      }
      .icon {
        &.first {
          margin-right: 10px;
          width: 16px;
          height: 16px;
          font-size: 14px;
          color: #FFFFFF;
        }

        &.last {
          width: 9px;
          height: 13px;
          font-size: 12px;
          color: #C2C2C2;
          transform: rotate(180deg);
        }
      }
    }
  }

  #user_submit {
    margin-bottom: 15px;
  }

  #user_action {
    padding: 0 20px;
    margin-bottom: 20px;
    .user_action_item + .user_action_item {
      margin-top: 15px;
    }
    .user_action_item {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.code {
        label input {
          padding-right: 120px;
        }
      }

      &.password {
        label input {
          padding-right: 50px;
        }
      }
      
      .title {
        width: 50px;
        line-height: 22px;
        font-family: PingFangTC-Regular;
        font-size: 16px;
        color: #FFFFFF;
        text-align: left;
      }

      label {
        flex-basis: calc(100% - 70px);
        input {
          padding: 0 20px;
          width: 100%;
          height: 40px;
          background: #333333;
          border-radius: 3px;
          font-family: PingFangTC-Regular;
          font-size: 16px;
          color: #979797;
          &::placeholder { color: #979797; }
          &:-ms-input-placeholder { color: #979797; }
          &::-ms-input-placeholder { color: #979797; }
        }
      }

      .get_code {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        background-color: #9E8B5D;
        font-family: PingFangTC-Regular;
        font-size: 14px;
        color: #FFFFFF;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      .icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        .icon-eyes-close {
          margin-top: -5px;
        }
      }
    }
  }

  #user_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 180px;
    height: 40px;
    font-family: PingFangTC-Regular;
    font-size: 17px;
    box-shadow: 0 0 0 1px #C1A76C;
    color: #C1A76C;
    border-radius: 20px;
    &.active {
      background-color: #C1A76C;
      color: #FFFFFF;
    }
  }

  #user_other {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: PingFangTC-Regular;
    font-size: 16px;
    color: #979797;
    line-height: 22px;
    div {
      padding: 0 10px;
    }
    a {
      color: #979797;
    }
  }

  #user_desc {
    position: relative;
    padding: 30px 20px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #757575;
    }
    #user_desc_title {
      margin-bottom: 15px;
      font-family: PingFangTC-Medium;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 26px;
    }
    #user_desc_list {
      font-family: PingFangTC-Regular;
      font-size: 16px;
      color: #979797;
      letter-spacing: 0;
      line-height: 26px;
    }
  }

  #user_invite {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    padding-top: 30px;
    .logo {
      margin-bottom: 25px;
      width: 120px;
      height: 40px;
      img { width: 100%; }
    }

    .gold_line {
      margin-bottom: 30px;
    }

    .title {
      margin-bottom: 30px;
      line-height: 46px;
      font-family: PingFangTC-Medium;
      font-size: 33px;
      text-align: center;
      color: #FFFFFF;
    }

    .user_invite_qrcode {
      margin-bottom: 30px;
      width: 200px;
      height: 200px;
      background-color: rgba(#d9d9d9, .5);
    }

    .desc {
      margin-bottom: 30px;
      color: #fff;
    }

    .url {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: PingFangTC-Regular;
      font-size: 16px;
      line-height: 20px;
      &__title { margin-right: 20px; color: #FFFFFF; }
      &__address { color: #F3CB71; }
    }
  }
}