#video {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: calc(66px + env(safe-area-inset-bottom));
    background-color: #242424;

    &.active {
      z-index: 10;
      #video_acton_options {
        opacity: 1;
        visibility: visible;
        z-index: 10;

        #video_acton_options_content {
          transform: translateY(0);
        }
      }
    }

    #video_acton_options {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      #video_acton_options_bg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .8);
      }
      #video_acton_options_content {
        position: absolute;
        bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 155px;
        background-color: #242424;

        transition: all, .3s;
        transform: translateY(100%);
        
        #video_action_options_close {
          position: absolute;
          top: 10px;
          right: 10px;
          .icon {
            font-size: 22px;
          }
        }

        .video_action_options_items {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 40px;
          max-width: 320px;
          font-family: PingFangTC-Regular;
          font-size: 17px;
          color: #FFFFFF;
          border-radius: 20px;
          + .video_action_options_items { margin-top: 10px; }
          &:nth-of-type(1) { background-color: #9E8B5D; }
          &:nth-of-type(2) { background-color: #525252; }
        }
      }
    }

    #video_warning {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all, .3s;
      z-index: -1;
      &.active {
        opacity: 1;
        visibility: visible;
        z-index: 100;
      }
      &__content {
        padding: 35px 20px 30px 30px;
        width: 290px;
        height: 200px;
        background-color: #111111;
        text-align: center;
        border-radius: 10px;
        .title {
          margin-bottom: 10px;
          line-height: 28px;
          font-family: PingFangTC-Medium;
          font-size: 20px;
          color: #9E8B5D;
        }
        .desc {
          margin-bottom: 25px;
          font-family: PingFangTC-Regular;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 24px;
        }
        .btns {
          display: flex;
          .btn + .btn {
            margin-left: 10px;
          }
          .btn {
            width: 115px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: PingFangTC-Regular;
            font-size: 14px;
            color: #FFFFFF;
            border-radius: 20px;
            &.cancel { background-color: #525252; }
            &.login { background-color: #9E8B5D; }
          }
        }
      }
    }
  }

  &__player {
    position: relative;
    #play_video_cover {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 30px;
      z-index: 1;
      .vjs-icon-play {
        margin-top: 30px;
        font-size: 40px;
        color: #fff;
      }
    }
    
    #video_back {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      .icon {
        text-shadow: 0 0 0 1px #000000;
      }
    }

    #video_cover_ad {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 30px;
      padding-top: 56.25%; // 和 .vjs_video_3-dimensions.vjs-fluid 56.25% 相同
      background-size: cover;
      background-position: center center;
      z-index: 3;
      &__close {
        opacity: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 60px;
        height: 20px;
        background-color: #1C1C1C;
        border-radius: 6px;
        font-family: PingFangTC-Regular;
        font-size: 12px;
        color: #FFFFFF;
        z-index: 4;
      }
    }

    #video_seek {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      color: #ffffff;
      z-index: 1;

      #video_seek_rewinder,
      #video_seek_forward {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
          margin-bottom: 8px
        }
        .video_seek_second {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 70px;
          height: 22px;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 5px;
          font-family: PingFangTC-Regular;
          font-size: 14px;
          color: #C9B482;
        }
      }
    }
  }

  &__container {
    overflow-y: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 60px;
  }

  &__info {
    padding: 15px 15px 0 15px;
    &.active {
      margin-bottom: 37px;
      .title { margin-bottom: 10px; }
      .title .title_right .icon {
        transform: rotate(180deg);
      }

      .time,
      .director,
      .publisher {
        display: flex;
      }
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .title_left {
      flex-basis: calc(100% - 16px - 20px);
      line-height: 25px;
      font-family: PingFangTC-Regular;
      font-size: 18px;
      color: #FFFFFF;
    }

    .title_right {
      .icon {
        margin: 0 auto;
        font-size: 20px;
        color: #c2c2c2;
      }
    }

    .time + .director,
    .director + .publisher {
      margin-top: 5px;
    } 

    .time,
    .director,
    .publisher {
      display: none;
      justify-content: flex-start;
      span {
        font-family: PingFangTC-Regular;
        font-size: 14px;
        color: #CCCCCC;
        letter-spacing: 0;
        line-height: 26px;
      }

      span:nth-of-type(1) { flex: 2; }
      span:nth-of-type(2) { flex: 10; }
    }

    .director,
    .publisher {
      span:nth-of-type(2) { color: #FFE8AC; }
    }
    
  }

  &__actions {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    padding: 15px;
    &:after {
      content: '';
      position: absolute;
      left: -15px;
      right: -15px;
      bottom: 0;
      height: 1px;
      background-color: #757575;
    }
    #video__actions_left,
    #video__actions_right {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .action_items + .action_items {
        margin-left: 10px;
      }
      .action_items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 36px;
        min-height: 36px;
        color: #CCCCCC;
        &.hasBg {
          padding: 5px 0;
          background: rgba(0,0,0,0.70);
          border-radius: 5px;
        }
        
        .icon {
          font-size: 16px;
          .icon-HD {
            font-size: 20px;
          }
        }

        .icon_text {
          font-family: PingFangTC-Medium;
          font-size: 12px;
          color: #CCCCCC;
        }
      }
    }
  }

  &__ad {
    overflow: hidden;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: -15px;
      right: -15px;
      bottom: 0;
      height: 1px;
      background-color: #757575;
    }

    .hooper {
      height: 140px;
    }

    .hooper-slide {
      &.is-current {
        padding: 0;
        .hooper-item {
          &::after { padding-bottom: 0; }
        }
      }

      .hooper-item {
        height: 100px;
        &::after {
          content: "";
          display: block;
          padding-bottom: 0;
        }
      }
    }
  }
  
  &__actor {
    overflow: hidden;
    position: relative;
    padding: 15px;
    &:after {
      content: '';
      position: absolute;
      left: -15px;
      right: -15px;
      bottom: 0;
      height: 1px;
      background-color: #757575;
    }
    #video__actor_title {
      line-height: 20px;
      margin-bottom: 10px;
      font-family: PingFangTC-Medium;
      font-size: 14px;
      color: #767676;
    }
    #video__actor_display {
      font-family: PingFangTC-Regular;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
    }
  }

  &__other {
    position: relative;
    padding: 15px;
    padding-top: 20px;

    #video__other_title {
      margin-bottom: 10px;
      line-height: 20px;
      font-family: PingFangTC-Regular;
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}


.vjs-subs-caps-button {
  display: none; 
}

.vjs-audio-button {
  display: none;
}